<a href="https://colab.research.google.com/github/Kim-matthew-0422/pyspark1/blob/main/Pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!kaggle competitions download -c titanic

Traceback (most recent call last):
  File "/usr/local/bin/kaggle", line 5, in <module>
    from kaggle.cli import main
  File "/usr/local/lib/python3.8/dist-packages/kaggle/__init__.py", line 23, in <module>
    api.authenticate()
  File "/usr/local/lib/python3.8/dist-packages/kaggle/api/kaggle_api_extended.py", line 164, in authenticate
    raise IOError('Could not find {}. Make sure it\'s located in'
OSError: Could not find kaggle.json. Make sure it's located in /root/.kaggle. Or use the environment method.

In [1]:
!nvidia-smi -L

GPU 0: Tesla T4 (UUID: GPU-e6d27991-ef43-bb4e-b51d-c5f7cfb62a55)

In [3]:
!mkdir ~/.kaggle

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [4]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"etkim422","key":"80ab2ded6fd7d42e4f1a1492a557fa36"}'}

In [5]:
!cp kaggle.json ~/.kaggle/

In [6]:
!kaggle competitions download -c titanic

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Downloading titanic.zip to /content
  0% 0.00/34.1k [00:00<?, ?B/s]
100% 34.1k/34.1k [00:00<00:00, 1.19MB/s]

In [7]:
!ls

kaggle.json  sample_data  titanic.zip

In [8]:

!wget https://raw.githubusercontent.com/mrdbourke/tensorflow-deep-learning/main/extras/helper_functions.py
from helper_functions import create_tensorboard_callback, plot_loss_curves, unzip_data, compare_historys, walk_through_dir

--2023-03-08 08:14:52--  https://raw.githubusercontent.com/mrdbourke/tensorflow-deep-learning/main/extras/helper_functions.py
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.108.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 10246 (10K) [text/plain]
Saving to: ‘helper_functions.py’

helper_functions.py 100%[===================>]  10.01K  --.-KB/s    in 0s

2023-03-08 08:14:52 (72.1 MB/s) - ‘helper_functions.py’ saved [10246/10246]

In [9]:
unzip_data('titanic.zip')

In [10]:
!ls

gender_submission.csv  kaggle.json  sample_data  titanic.zip
helper_functions.py    __pycache__  test.csv	 train.csv

In [11]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [12]:
!wget -q https://www-us.apache.org/dist/spark/spark-3.1.2/spark-3.1.2-bin-hadoop2.7.tgz
!tar xf spark-3.1.2-bin-hadoop2.7.tgz

tar: spark-3.1.2-bin-hadoop2.7.tgz: Cannot open: No such file or directory
tar: Error is not recoverable: exiting now

In [13]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop2.7"

In [14]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 5.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 24.2 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824025 sha256=55f465dd69effcf30fbaaf806efdbb4e79393699b1bafcb4c066850cfd86152b
  Stored in directory: /root/.cache/pip/wheels/b1/59/a0/a1a0624b5e865fd389919c1a10f53aec9b12195d6747710baf
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

In [15]:
import pyspark
import pandas as pd

In [ ]:
!ls

gender_submission.csv  kaggle.json  sample_data  titanic.zip
helper_functions.py    __pycache__  test.csv	 train.csv

In [16]:
from pyspark.sql import SparkSession

In [17]:
!wget -q https://dlcdn.apache.org/spark/spark-3.3.2/spark-3.3.2-bin-hadoop3.tgz

In [ ]:
!ls

gender_submission.csv  __pycache__		    test.csv
helper_functions.py    sample_data		    titanic.zip
kaggle.json	       spark-3.3.2-bin-hadoop3.tgz  train.csv

In [18]:
!tar xf spark-3.3.2-bin-hadoop3.tgz

In [19]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.3.2-bin-hadoop3"

In [20]:
!pip install -q findspark

In [21]:
spark = SparkSession.builder\
        .master("local[*]")\
        .appName("Test Setup")\
        .getOrCreate()

In [22]:
df_test = spark.read.csv('test.csv', header = True)
df_train = spark.read.csv('train.csv',header=True)

In [23]:
!ls

gender_submission.csv  sample_data		    titanic.zip
helper_functions.py    spark-3.3.2-bin-hadoop3	    train.csv
kaggle.json	       spark-3.3.2-bin-hadoop3.tgz
__pycache__	       test.csv

In [24]:
df_train.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|  22|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|  38|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|  26|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  35|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|  35|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  54|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|   2|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|  27|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  14|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|   4|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|  58|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|  20|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|  39|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|  14|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|  55|    0|    0|          248706|     16| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|   2|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|     13| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|  31|    1|    0|          345763|     18| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [ ]:
df_train.dtypes

[('PassengerId', 'string'),
 ('Survived', 'string'),
 ('Pclass', 'string'),
 ('Name', 'string'),
 ('Sex', 'string'),
 ('Age', 'string'),
 ('SibSp', 'string'),
 ('Parch', 'string'),
 ('Ticket', 'string'),
 ('Fare', 'string'),
 ('Cabin', 'string'),
 ('Embarked', 'string')]

AnalysisException: ignored

In [25]:

from pyspark.sql.functions import lit

df_test = df_test.withColumn('new', lit(0))
df_test = df_test.withColumn('traintest', lit('test'))
df_train = df_train.withColumn('traintest',lit('train'))

In [26]:
  df_test = df_test.drop('Survived')

In [ ]:
df_test.show()

+-----------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+---+---------+
|PassengerId|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|new|traintest|
+-----------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+---+---------+
|        892|     3|    Kelly, Mr. James|  male|34.5|    0|    0|          330911| 7.8292| null|       Q|  0|     test|
|        893|     3|Wilkes, Mrs. Jame...|female|  47|    1|    0|          363272|      7| null|       S|  0|     test|
|        894|     2|Myles, Mr. Thomas...|  male|  62|    0|    0|          240276| 9.6875| null|       Q|  0|     test|
|        895|     3|    Wirz, Mr. Albert|  male|  27|    0|    0|          315154| 8.6625| null|       S|  0|     test|
|        896|     3|Hirvonen, Mrs. Al...|female|  22|    1|    1|         3101298|12.2875| null|       S|  0|     test|
|        897|     3|Svensson, Mr. Joh...|  male|  14|    0|    0|            7538|  9.225| null|       S|  0|     test|
|        898|     3|Connolly, Miss. Kate|female|  30|    0|    0|          330972| 7.6292| null|       Q|  0|     test|
|        899|     2|Caldwell, Mr. Alb...|  male|  26|    1|    1|          248738|     29| null|       S|  0|     test|
|        900|     3|Abrahim, Mrs. Jos...|female|  18|    0|    0|            2657| 7.2292| null|       C|  0|     test|
|        901|     3|Davies, Mr. John ...|  male|  21|    2|    0|       A/4 48871|  24.15| null|       S|  0|     test|
|        902|     3|    Ilieff, Mr. Ylio|  male|null|    0|    0|          349220| 7.8958| null|       S|  0|     test|
|        903|     1|Jones, Mr. Charle...|  male|  46|    0|    0|             694|     26| null|       S|  0|     test|
|        904|     1|Snyder, Mrs. John...|female|  23|    1|    0|           21228|82.2667|  B45|       S|  0|     test|
|        905|     2|Howard, Mr. Benjamin|  male|  63|    1|    0|           24065|     26| null|       S|  0|     test|
|        906|     1|Chaffee, Mrs. Her...|female|  47|    1|    0|     W.E.P. 5734| 61.175|  E31|       S|  0|     test|
|        907|     2|del Carlo, Mrs. S...|female|  24|    1|    0|   SC/PARIS 2167|27.7208| null|       C|  0|     test|
|        908|     2|   Keane, Mr. Daniel|  male|  35|    0|    0|          233734|  12.35| null|       Q|  0|     test|
|        909|     3|   Assaf, Mr. Gerios|  male|  21|    0|    0|            2692|  7.225| null|       C|  0|     test|
|        910|     3|Ilmakangas, Miss....|female|  27|    1|    0|STON/O2. 3101270|  7.925| null|       S|  0|     test|
|        911|     3|"Assaf Khalil, Mr...|female|  45|    0|    0|            2696|  7.225| null|       C|  0|     test|
+-----------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+---+---------+
only showing top 20 rows

In [27]:
df_test = df_test.withColumnRenamed('new', 'Survived')

In [ ]:
df_test.show()

+-----------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+---------+
|PassengerId|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|Survived|traintest|
+-----------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+---------+
|        892|     3|    Kelly, Mr. James|  male|34.5|    0|    0|          330911| 7.8292| null|       Q|       0|     test|
|        893|     3|Wilkes, Mrs. Jame...|female|  47|    1|    0|          363272|      7| null|       S|       0|     test|
|        894|     2|Myles, Mr. Thomas...|  male|  62|    0|    0|          240276| 9.6875| null|       Q|       0|     test|
|        895|     3|    Wirz, Mr. Albert|  male|  27|    0|    0|          315154| 8.6625| null|       S|       0|     test|
|        896|     3|Hirvonen, Mrs. Al...|female|  22|    1|    1|         3101298|12.2875| null|       S|       0|     test|
|        897|     3|Svensson, Mr. Joh...|  male|  14|    0|    0|            7538|  9.225| null|       S|       0|     test|
|        898|     3|Connolly, Miss. Kate|female|  30|    0|    0|          330972| 7.6292| null|       Q|       0|     test|
|        899|     2|Caldwell, Mr. Alb...|  male|  26|    1|    1|          248738|     29| null|       S|       0|     test|
|        900|     3|Abrahim, Mrs. Jos...|female|  18|    0|    0|            2657| 7.2292| null|       C|       0|     test|
|        901|     3|Davies, Mr. John ...|  male|  21|    2|    0|       A/4 48871|  24.15| null|       S|       0|     test|
|        902|     3|    Ilieff, Mr. Ylio|  male|null|    0|    0|          349220| 7.8958| null|       S|       0|     test|
|        903|     1|Jones, Mr. Charle...|  male|  46|    0|    0|             694|     26| null|       S|       0|     test|
|        904|     1|Snyder, Mrs. John...|female|  23|    1|    0|           21228|82.2667|  B45|       S|       0|     test|
|        905|     2|Howard, Mr. Benjamin|  male|  63|    1|    0|           24065|     26| null|       S|       0|     test|
|        906|     1|Chaffee, Mrs. Her...|female|  47|    1|    0|     W.E.P. 5734| 61.175|  E31|       S|       0|     test|
|        907|     2|del Carlo, Mrs. S...|female|  24|    1|    0|   SC/PARIS 2167|27.7208| null|       C|       0|     test|
|        908|     2|   Keane, Mr. Daniel|  male|  35|    0|    0|          233734|  12.35| null|       Q|       0|     test|
|        909|     3|   Assaf, Mr. Gerios|  male|  21|    0|    0|            2692|  7.225| null|       C|       0|     test|
|        910|     3|Ilmakangas, Miss....|female|  27|    1|    0|STON/O2. 3101270|  7.925| null|       S|       0|     test|
|        911|     3|"Assaf Khalil, Mr...|female|  45|    0|    0|            2696|  7.225| null|       C|       0|     test|
+-----------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+---------+
only showing top 20 rows

In [28]:
df_test = df_test.select(df_train.columns)

In [ ]:
df_test.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+---------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|traintest|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+---------+
|        892|       0|     3|    Kelly, Mr. James|  male|34.5|    0|    0|          330911| 7.8292| null|       Q|     test|
|        893|       0|     3|Wilkes, Mrs. Jame...|female|  47|    1|    0|          363272|      7| null|       S|     test|
|        894|       0|     2|Myles, Mr. Thomas...|  male|  62|    0|    0|          240276| 9.6875| null|       Q|     test|
|        895|       0|     3|    Wirz, Mr. Albert|  male|  27|    0|    0|          315154| 8.6625| null|       S|     test|
|        896|       0|     3|Hirvonen, Mrs. Al...|female|  22|    1|    1|         3101298|12.2875| null|       S|     test|
|        897|       0|     3|Svensson, Mr. Joh...|  male|  14|    0|    0|            7538|  9.225| null|       S|     test|
|        898|       0|     3|Connolly, Miss. Kate|female|  30|    0|    0|          330972| 7.6292| null|       Q|     test|
|        899|       0|     2|Caldwell, Mr. Alb...|  male|  26|    1|    1|          248738|     29| null|       S|     test|
|        900|       0|     3|Abrahim, Mrs. Jos...|female|  18|    0|    0|            2657| 7.2292| null|       C|     test|
|        901|       0|     3|Davies, Mr. John ...|  male|  21|    2|    0|       A/4 48871|  24.15| null|       S|     test|
|        902|       0|     3|    Ilieff, Mr. Ylio|  male|null|    0|    0|          349220| 7.8958| null|       S|     test|
|        903|       0|     1|Jones, Mr. Charle...|  male|  46|    0|    0|             694|     26| null|       S|     test|
|        904|       0|     1|Snyder, Mrs. John...|female|  23|    1|    0|           21228|82.2667|  B45|       S|     test|
|        905|       0|     2|Howard, Mr. Benjamin|  male|  63|    1|    0|           24065|     26| null|       S|     test|
|        906|       0|     1|Chaffee, Mrs. Her...|female|  47|    1|    0|     W.E.P. 5734| 61.175|  E31|       S|     test|
|        907|       0|     2|del Carlo, Mrs. S...|female|  24|    1|    0|   SC/PARIS 2167|27.7208| null|       C|     test|
|        908|       0|     2|   Keane, Mr. Daniel|  male|  35|    0|    0|          233734|  12.35| null|       Q|     test|
|        909|       0|     3|   Assaf, Mr. Gerios|  male|  21|    0|    0|            2692|  7.225| null|       C|     test|
|        910|       0|     3|Ilmakangas, Miss....|female|  27|    1|    0|STON/O2. 3101270|  7.925| null|       S|     test|
|        911|       0|     3|"Assaf Khalil, Mr...|female|  45|    0|    0|            2696|  7.225| null|       C|     test|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+---------+
only showing top 20 rows

In [29]:
df = df_train.union(df_test)

In [ ]:
df.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+---------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|traintest|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+---------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|  22|    1|    0|       A/5 21171|   7.25| null|       S|    train|
|          2|       1|     1|Cumings, Mrs. Joh...|female|  38|    1|    0|        PC 17599|71.2833|  C85|       C|    train|
|          3|       1|     3|Heikkinen, Miss. ...|female|  26|    0|    0|STON/O2. 3101282|  7.925| null|       S|    train|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  35|    1|    0|          113803|   53.1| C123|       S|    train|
|          5|       0|     3|Allen, Mr. Willia...|  male|  35|    0|    0|          373450|   8.05| null|       S|    train|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|    train|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  54|    0|    0|           17463|51.8625|  E46|       S|    train|
|          8|       0|     3|Palsson, Master. ...|  male|   2|    3|    1|          349909| 21.075| null|       S|    train|
|          9|       1|     3|Johnson, Mrs. Osc...|female|  27|    0|    2|          347742|11.1333| null|       S|    train|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  14|    1|    0|          237736|30.0708| null|       C|    train|
|         11|       1|     3|Sandstrom, Miss. ...|female|   4|    1|    1|         PP 9549|   16.7|   G6|       S|    train|
|         12|       1|     1|Bonnell, Miss. El...|female|  58|    0|    0|          113783|  26.55| C103|       S|    train|
|         13|       0|     3|Saundercock, Mr. ...|  male|  20|    0|    0|       A/5. 2151|   8.05| null|       S|    train|
|         14|       0|     3|Andersson, Mr. An...|  male|  39|    1|    5|          347082| 31.275| null|       S|    train|
|         15|       0|     3|Vestrom, Miss. Hu...|female|  14|    0|    0|          350406| 7.8542| null|       S|    train|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|  55|    0|    0|          248706|     16| null|       S|    train|
|         17|       0|     3|Rice, Master. Eugene|  male|   2|    4|    1|          382652| 29.125| null|       Q|    train|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|     13| null|       S|    train|
|         19|       0|     3|Vander Planke, Mr...|female|  31|    1|    0|          345763|     18| null|       S|    train|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|    train|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+---------+
only showing top 20 rows

In [30]:
df.count()

1309

In [31]:
df_train.count()

891

In [32]:
df.printSchema()

root
 |-- PassengerId: string (nullable = true)
 |-- Survived: string (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- SibSp: string (nullable = true)
 |-- Parch: string (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: string (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)
 |-- traintest: string (nullable = false)

In [33]:
from pyspark.sql.functions import col,isnan, when, count
df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df.columns]
   ).show()

+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+---------+
|PassengerId|Survived|Pclass|Name|Sex|Age|SibSp|Parch|Ticket|Fare|Cabin|Embarked|traintest|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+---------+
|          0|       0|     0|   0|  0|263|    0|    0|     0|   1| 1014|       2|        0|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+---------+

In [ ]:
df.count()

1309

1046

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked',
 'traintest']

In [ ]:
from pyspark.ml.feature import VectorAssembler

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Embarked',
 'traintest']

In [ ]:
df.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+---------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|traintest|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+---------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|  22|    1|    0|       A/5 21171|   7.25| null|       S|    train|
|          2|       1|     1|Cumings, Mrs. Joh...|female|  38|    1|    0|        PC 17599|71.2833|  C85|       C|    train|
|          3|       1|     3|Heikkinen, Miss. ...|female|  26|    0|    0|STON/O2. 3101282|  7.925| null|       S|    train|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  35|    1|    0|          113803|   53.1| C123|       S|    train|
|          5|       0|     3|Allen, Mr. Willia...|  male|  35|    0|    0|          373450|   8.05| null|       S|    train|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|    train|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  54|    0|    0|           17463|51.8625|  E46|       S|    train|
|          8|       0|     3|Palsson, Master. ...|  male|   2|    3|    1|          349909| 21.075| null|       S|    train|
|          9|       1|     3|Johnson, Mrs. Osc...|female|  27|    0|    2|          347742|11.1333| null|       S|    train|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  14|    1|    0|          237736|30.0708| null|       C|    train|
|         11|       1|     3|Sandstrom, Miss. ...|female|   4|    1|    1|         PP 9549|   16.7|   G6|       S|    train|
|         12|       1|     1|Bonnell, Miss. El...|female|  58|    0|    0|          113783|  26.55| C103|       S|    train|
|         13|       0|     3|Saundercock, Mr. ...|  male|  20|    0|    0|       A/5. 2151|   8.05| null|       S|    train|
|         14|       0|     3|Andersson, Mr. An...|  male|  39|    1|    5|          347082| 31.275| null|       S|    train|
|         15|       0|     3|Vestrom, Miss. Hu...|female|  14|    0|    0|          350406| 7.8542| null|       S|    train|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|  55|    0|    0|          248706|     16| null|       S|    train|
|         17|       0|     3|Rice, Master. Eugene|  male|   2|    4|    1|          382652| 29.125| null|       Q|    train|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|     13| null|       S|    train|
|         19|       0|     3|Vander Planke, Mr...|female|  31|    1|    0|          345763|     18| null|       S|    train|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|    train|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+---------+
only showing top 20 rows

In [34]:
from pyspark.ml.feature import StringIndexer

indexer = StringIndexer(inputCol='Sex', outputCol = 'SexEncoded')
indexer_fitted = indexer.fit(df)

In [35]:
df = indexer_fitted.transform(df)
df.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+---------+----------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|traintest|SexEncoded|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+---------+----------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|  22|    1|    0|       A/5 21171|   7.25| null|       S|    train|       0.0|
|          2|       1|     1|Cumings, Mrs. Joh...|female|  38|    1|    0|        PC 17599|71.2833|  C85|       C|    train|       1.0|
|          3|       1|     3|Heikkinen, Miss. ...|female|  26|    0|    0|STON/O2. 3101282|  7.925| null|       S|    train|       1.0|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  35|    1|    0|          113803|   53.1| C123|       S|    train|       1.0|
|          5|       0|     3|Allen, Mr. Willia...|  male|  35|    0|    0|          373450|   8.05| null|       S|    train|       0.0|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|    train|       0.0|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  54|    0|    0|           17463|51.8625|  E46|       S|    train|       0.0|
|          8|       0|     3|Palsson, Master. ...|  male|   2|    3|    1|          349909| 21.075| null|       S|    train|       0.0|
|          9|       1|     3|Johnson, Mrs. Osc...|female|  27|    0|    2|          347742|11.1333| null|       S|    train|       1.0|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  14|    1|    0|          237736|30.0708| null|       C|    train|       1.0|
|         11|       1|     3|Sandstrom, Miss. ...|female|   4|    1|    1|         PP 9549|   16.7|   G6|       S|    train|       1.0|
|         12|       1|     1|Bonnell, Miss. El...|female|  58|    0|    0|          113783|  26.55| C103|       S|    train|       1.0|
|         13|       0|     3|Saundercock, Mr. ...|  male|  20|    0|    0|       A/5. 2151|   8.05| null|       S|    train|       0.0|
|         14|       0|     3|Andersson, Mr. An...|  male|  39|    1|    5|          347082| 31.275| null|       S|    train|       0.0|
|         15|       0|     3|Vestrom, Miss. Hu...|female|  14|    0|    0|          350406| 7.8542| null|       S|    train|       1.0|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|  55|    0|    0|          248706|     16| null|       S|    train|       1.0|
|         17|       0|     3|Rice, Master. Eugene|  male|   2|    4|    1|          382652| 29.125| null|       Q|    train|       0.0|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|     13| null|       S|    train|       0.0|
|         19|       0|     3|Vander Planke, Mr...|female|  31|    1|    0|          345763|     18| null|       S|    train|       1.0|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|    train|       1.0|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+---------+----------+
only showing top 20 rows

In [36]:
df.withColumn('sex', df['SexEncoded'])

DataFrame[PassengerId: string, Survived: string, Pclass: string, Name: string, sex: double, Age: string, SibSp: string, Parch: string, Ticket: string, Fare: string, Cabin: string, Embarked: string, traintest: string, SexEncoded: double]

In [37]:
df = df.withColumn('sex', df['SexEncoded'])

In [ ]:
df.show()

+-----------+--------+------+--------------------+---+----+-----+-----+----------------+-------+-----+--------+---------+----------+
|PassengerId|Survived|Pclass|                Name|sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|traintest|SexEncoded|
+-----------+--------+------+--------------------+---+----+-----+-----+----------------+-------+-----+--------+---------+----------+
|          1|       0|     3|Braund, Mr. Owen ...|0.0|  22|    1|    0|       A/5 21171|   7.25| null|       S|    train|       0.0|
|          2|       1|     1|Cumings, Mrs. Joh...|1.0|  38|    1|    0|        PC 17599|71.2833|  C85|       C|    train|       1.0|
|          3|       1|     3|Heikkinen, Miss. ...|1.0|  26|    0|    0|STON/O2. 3101282|  7.925| null|       S|    train|       1.0|
|          4|       1|     1|Futrelle, Mrs. Ja...|1.0|  35|    1|    0|          113803|   53.1| C123|       S|    train|       1.0|
|          5|       0|     3|Allen, Mr. Willia...|0.0|  35|    0|    0|          373450|   8.05| null|       S|    train|       0.0|
|          6|       0|     3|    Moran, Mr. James|0.0|null|    0|    0|          330877| 8.4583| null|       Q|    train|       0.0|
|          7|       0|     1|McCarthy, Mr. Tim...|0.0|  54|    0|    0|           17463|51.8625|  E46|       S|    train|       0.0|
|          8|       0|     3|Palsson, Master. ...|0.0|   2|    3|    1|          349909| 21.075| null|       S|    train|       0.0|
|          9|       1|     3|Johnson, Mrs. Osc...|1.0|  27|    0|    2|          347742|11.1333| null|       S|    train|       1.0|
|         10|       1|     2|Nasser, Mrs. Nich...|1.0|  14|    1|    0|          237736|30.0708| null|       C|    train|       1.0|
|         11|       1|     3|Sandstrom, Miss. ...|1.0|   4|    1|    1|         PP 9549|   16.7|   G6|       S|    train|       1.0|
|         12|       1|     1|Bonnell, Miss. El...|1.0|  58|    0|    0|          113783|  26.55| C103|       S|    train|       1.0|
|         13|       0|     3|Saundercock, Mr. ...|0.0|  20|    0|    0|       A/5. 2151|   8.05| null|       S|    train|       0.0|
|         14|       0|     3|Andersson, Mr. An...|0.0|  39|    1|    5|          347082| 31.275| null|       S|    train|       0.0|
|         15|       0|     3|Vestrom, Miss. Hu...|1.0|  14|    0|    0|          350406| 7.8542| null|       S|    train|       1.0|
|         16|       1|     2|Hewlett, Mrs. (Ma...|1.0|  55|    0|    0|          248706|     16| null|       S|    train|       1.0|
|         17|       0|     3|Rice, Master. Eugene|0.0|   2|    4|    1|          382652| 29.125| null|       Q|    train|       0.0|
|         18|       1|     2|Williams, Mr. Cha...|0.0|null|    0|    0|          244373|     13| null|       S|    train|       0.0|
|         19|       0|     3|Vander Planke, Mr...|1.0|  31|    1|    0|          345763|     18| null|       S|    train|       1.0|
|         20|       1|     3|Masselmani, Mrs. ...|1.0|null|    0|    0|            2649|  7.225| null|       C|    train|       1.0|
+-----------+--------+------+--------------------+---+----+-----+-----+----------------+-------+-----+--------+---------+----------+
only showing top 20 rows

In [38]:
df = df.drop('SexEncoded')

In [39]:
df.show()

+-----------+--------+------+--------------------+---+----+-----+-----+----------------+-------+-----+--------+---------+
|PassengerId|Survived|Pclass|                Name|sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|traintest|
+-----------+--------+------+--------------------+---+----+-----+-----+----------------+-------+-----+--------+---------+
|          1|       0|     3|Braund, Mr. Owen ...|0.0|  22|    1|    0|       A/5 21171|   7.25| null|       S|    train|
|          2|       1|     1|Cumings, Mrs. Joh...|1.0|  38|    1|    0|        PC 17599|71.2833|  C85|       C|    train|
|          3|       1|     3|Heikkinen, Miss. ...|1.0|  26|    0|    0|STON/O2. 3101282|  7.925| null|       S|    train|
|          4|       1|     1|Futrelle, Mrs. Ja...|1.0|  35|    1|    0|          113803|   53.1| C123|       S|    train|
|          5|       0|     3|Allen, Mr. Willia...|0.0|  35|    0|    0|          373450|   8.05| null|       S|    train|
|          6|       0|     3|    Moran, Mr. James|0.0|null|    0|    0|          330877| 8.4583| null|       Q|    train|
|          7|       0|     1|McCarthy, Mr. Tim...|0.0|  54|    0|    0|           17463|51.8625|  E46|       S|    train|
|          8|       0|     3|Palsson, Master. ...|0.0|   2|    3|    1|          349909| 21.075| null|       S|    train|
|          9|       1|     3|Johnson, Mrs. Osc...|1.0|  27|    0|    2|          347742|11.1333| null|       S|    train|
|         10|       1|     2|Nasser, Mrs. Nich...|1.0|  14|    1|    0|          237736|30.0708| null|       C|    train|
|         11|       1|     3|Sandstrom, Miss. ...|1.0|   4|    1|    1|         PP 9549|   16.7|   G6|       S|    train|
|         12|       1|     1|Bonnell, Miss. El...|1.0|  58|    0|    0|          113783|  26.55| C103|       S|    train|
|         13|       0|     3|Saundercock, Mr. ...|0.0|  20|    0|    0|       A/5. 2151|   8.05| null|       S|    train|
|         14|       0|     3|Andersson, Mr. An...|0.0|  39|    1|    5|          347082| 31.275| null|       S|    train|
|         15|       0|     3|Vestrom, Miss. Hu...|1.0|  14|    0|    0|          350406| 7.8542| null|       S|    train|
|         16|       1|     2|Hewlett, Mrs. (Ma...|1.0|  55|    0|    0|          248706|     16| null|       S|    train|
|         17|       0|     3|Rice, Master. Eugene|0.0|   2|    4|    1|          382652| 29.125| null|       Q|    train|
|         18|       1|     2|Williams, Mr. Cha...|0.0|null|    0|    0|          244373|     13| null|       S|    train|
|         19|       0|     3|Vander Planke, Mr...|1.0|  31|    1|    0|          345763|     18| null|       S|    train|
|         20|       1|     3|Masselmani, Mrs. ...|1.0|null|    0|    0|            2649|  7.225| null|       C|    train|
+-----------+--------+------+--------------------+---+----+-----+-----+----------------+-------+-----+--------+---------+
only showing top 20 rows

In [ ]:
df.collect()[7]['Name']

'Palsson, Master. Gosta Leonard'

In [40]:
df = df.fillna(value = '0', subset=['Cabin'])

In [41]:
df.show()

+-----------+--------+------+--------------------+---+----+-----+-----+----------------+-------+-----+--------+---------+
|PassengerId|Survived|Pclass|                Name|sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|traintest|
+-----------+--------+------+--------------------+---+----+-----+-----+----------------+-------+-----+--------+---------+
|          1|       0|     3|Braund, Mr. Owen ...|0.0|  22|    1|    0|       A/5 21171|   7.25|    0|       S|    train|
|          2|       1|     1|Cumings, Mrs. Joh...|1.0|  38|    1|    0|        PC 17599|71.2833|  C85|       C|    train|
|          3|       1|     3|Heikkinen, Miss. ...|1.0|  26|    0|    0|STON/O2. 3101282|  7.925|    0|       S|    train|
|          4|       1|     1|Futrelle, Mrs. Ja...|1.0|  35|    1|    0|          113803|   53.1| C123|       S|    train|
|          5|       0|     3|Allen, Mr. Willia...|0.0|  35|    0|    0|          373450|   8.05|    0|       S|    train|
|          6|       0|     3|    Moran, Mr. James|0.0|null|    0|    0|          330877| 8.4583|    0|       Q|    train|
|          7|       0|     1|McCarthy, Mr. Tim...|0.0|  54|    0|    0|           17463|51.8625|  E46|       S|    train|
|          8|       0|     3|Palsson, Master. ...|0.0|   2|    3|    1|          349909| 21.075|    0|       S|    train|
|          9|       1|     3|Johnson, Mrs. Osc...|1.0|  27|    0|    2|          347742|11.1333|    0|       S|    train|
|         10|       1|     2|Nasser, Mrs. Nich...|1.0|  14|    1|    0|          237736|30.0708|    0|       C|    train|
|         11|       1|     3|Sandstrom, Miss. ...|1.0|   4|    1|    1|         PP 9549|   16.7|   G6|       S|    train|
|         12|       1|     1|Bonnell, Miss. El...|1.0|  58|    0|    0|          113783|  26.55| C103|       S|    train|
|         13|       0|     3|Saundercock, Mr. ...|0.0|  20|    0|    0|       A/5. 2151|   8.05|    0|       S|    train|
|         14|       0|     3|Andersson, Mr. An...|0.0|  39|    1|    5|          347082| 31.275|    0|       S|    train|
|         15|       0|     3|Vestrom, Miss. Hu...|1.0|  14|    0|    0|          350406| 7.8542|    0|       S|    train|
|         16|       1|     2|Hewlett, Mrs. (Ma...|1.0|  55|    0|    0|          248706|     16|    0|       S|    train|
|         17|       0|     3|Rice, Master. Eugene|0.0|   2|    4|    1|          382652| 29.125|    0|       Q|    train|
|         18|       1|     2|Williams, Mr. Cha...|0.0|null|    0|    0|          244373|     13|    0|       S|    train|
|         19|       0|     3|Vander Planke, Mr...|1.0|  31|    1|    0|          345763|     18|    0|       S|    train|
|         20|       1|     3|Masselmani, Mrs. ...|1.0|null|    0|    0|            2649|  7.225|    0|       C|    train|
+-----------+--------+------+--------------------+---+----+-----+-----+----------------+-------+-----+--------+---------+
only showing top 20 rows

In [42]:
df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df.columns]
   ).show()

+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+---------+
|PassengerId|Survived|Pclass|Name|sex|Age|SibSp|Parch|Ticket|Fare|Cabin|Embarked|traintest|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+---------+
|          0|       0|     0|   0|  0|263|    0|    0|     0|   1|    0|       2|        0|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+---------+

In [43]:
null_embarked_df = df.filter(df.Embarked.isNull())
null_embarked_df.show(truncate=False)

+-----------+--------+------+-----------------------------------------+---+---+-----+-----+------+----+-----+--------+---------+
|PassengerId|Survived|Pclass|Name                                     |sex|Age|SibSp|Parch|Ticket|Fare|Cabin|Embarked|traintest|
+-----------+--------+------+-----------------------------------------+---+---+-----+-----+------+----+-----+--------+---------+
|62         |1       |1     |Icard, Miss. Amelie                      |1.0|38 |0    |0    |113572|80  |B28  |null    |train    |
|830        |1       |1     |Stone, Mrs. George Nelson (Martha Evelyn)|1.0|62 |0    |0    |113572|80  |B28  |null    |train    |
+-----------+--------+------+-----------------------------------------+---+---+-----+-----+------+----+-----+--------+---------+

In [44]:
df = df.na.drop(subset = ['Embarked'])

In [46]:
df = df.na.drop(subset = ['Fare'])

In [47]:
df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df.columns]
   ).show()

+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+---------+
|PassengerId|Survived|Pclass|Name|sex|Age|SibSp|Parch|Ticket|Fare|Cabin|Embarked|traintest|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+---------+
|          0|       0|     0|   0|  0|263|    0|    0|     0|   0|    0|       0|        0|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+---------+

In [48]:
indexer = StringIndexer(inputCol='Embarked', outputCol = 'EmbarkedEncoded')
indexer_fitted = indexer.fit(df)

AttributeError: ignored

In [49]:
df = indexer_fitted.transform(df)
df.show()

+-----------+--------+------+--------------------+---+----+-----+-----+----------------+-------+-----+--------+---------+---------------+
|PassengerId|Survived|Pclass|                Name|sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|traintest|EmbarkedEncoded|
+-----------+--------+------+--------------------+---+----+-----+-----+----------------+-------+-----+--------+---------+---------------+
|          1|       0|     3|Braund, Mr. Owen ...|0.0|  22|    1|    0|       A/5 21171|   7.25|    0|       S|    train|            0.0|
|          2|       1|     1|Cumings, Mrs. Joh...|1.0|  38|    1|    0|        PC 17599|71.2833|  C85|       C|    train|            1.0|
|          3|       1|     3|Heikkinen, Miss. ...|1.0|  26|    0|    0|STON/O2. 3101282|  7.925|    0|       S|    train|            0.0|
|          4|       1|     1|Futrelle, Mrs. Ja...|1.0|  35|    1|    0|          113803|   53.1| C123|       S|    train|            0.0|
|          5|       0|     3|Allen, Mr. Willia...|0.0|  35|    0|    0|          373450|   8.05|    0|       S|    train|            0.0|
|          6|       0|     3|    Moran, Mr. James|0.0|null|    0|    0|          330877| 8.4583|    0|       Q|    train|            2.0|
|          7|       0|     1|McCarthy, Mr. Tim...|0.0|  54|    0|    0|           17463|51.8625|  E46|       S|    train|            0.0|
|          8|       0|     3|Palsson, Master. ...|0.0|   2|    3|    1|          349909| 21.075|    0|       S|    train|            0.0|
|          9|       1|     3|Johnson, Mrs. Osc...|1.0|  27|    0|    2|          347742|11.1333|    0|       S|    train|            0.0|
|         10|       1|     2|Nasser, Mrs. Nich...|1.0|  14|    1|    0|          237736|30.0708|    0|       C|    train|            1.0|
|         11|       1|     3|Sandstrom, Miss. ...|1.0|   4|    1|    1|         PP 9549|   16.7|   G6|       S|    train|            0.0|
|         12|       1|     1|Bonnell, Miss. El...|1.0|  58|    0|    0|          113783|  26.55| C103|       S|    train|            0.0|
|         13|       0|     3|Saundercock, Mr. ...|0.0|  20|    0|    0|       A/5. 2151|   8.05|    0|       S|    train|            0.0|
|         14|       0|     3|Andersson, Mr. An...|0.0|  39|    1|    5|          347082| 31.275|    0|       S|    train|            0.0|
|         15|       0|     3|Vestrom, Miss. Hu...|1.0|  14|    0|    0|          350406| 7.8542|    0|       S|    train|            0.0|
|         16|       1|     2|Hewlett, Mrs. (Ma...|1.0|  55|    0|    0|          248706|     16|    0|       S|    train|            0.0|
|         17|       0|     3|Rice, Master. Eugene|0.0|   2|    4|    1|          382652| 29.125|    0|       Q|    train|            2.0|
|         18|       1|     2|Williams, Mr. Cha...|0.0|null|    0|    0|          244373|     13|    0|       S|    train|            0.0|
|         19|       0|     3|Vander Planke, Mr...|1.0|  31|    1|    0|          345763|     18|    0|       S|    train|            0.0|
|         20|       1|     3|Masselmani, Mrs. ...|1.0|null|    0|    0|            2649|  7.225|    0|       C|    train|            1.0|
+-----------+--------+------+--------------------+---+----+-----+-----+----------------+-------+-----+--------+---------+---------------+
only showing top 20 rows

Py4JJavaError: ignored

Py4JJavaError: ignored

In [50]:
from pyspark.sql.functions import regexp_extract, when

# Define regular expression pattern to match 'Mrs', 'Mr', and 'Miss'
name_pattern = '(Mrs|Mr|Miss)'

# Create new column 'NameAbrev' using regexp_extract function
df = df.withColumn('NameAbrev', regexp_extract('Name', name_pattern, 1))

# If 'NameAbrev' is null or empty, replace with 'None'
df = df.withColumn('NameAbrev', when(df.NameAbrev.isNull() | (df.NameAbrev == ''), 'None').otherwise(df.NameAbrev))

In [183]:
df.show()

+-----------+--------+------+---+----+-----+-----+-------+---------+------------+------+----------+------------+-------------+
|PassengerId|Survived|Pclass|sex| Age|SibSp|Parch|   Fare|traintest|TicketNumber|Embark|CabinAbrev|CabinNumbers|CabinOnTicket|
+-----------+--------+------+---+----+-----+-----+-------+---------+------------+------+----------+------------+-------------+
|          1|       0|     3|0.0|  22|    1|    0|   7.25|    train|       21171|   0.0|       0.0|           0|            0|
|          2|       1|     1|1.0|  38|    1|    0|71.2833|    train|       17599|   1.0|       1.0|          85|            1|
|          3|       1|     3|1.0|  26|    0|    0|  7.925|    train|     3101282|   0.0|       0.0|           0|            0|
|          4|       1|     1|1.0|  35|    1|    0|   53.1|    train|      113803|   0.0|       1.0|         123|            1|
|          5|       0|     3|0.0|  35|    0|    0|   8.05|    train|      373450|   0.0|       0.0|           0|            0|
|          6|       0|     3|0.0|null|    0|    0| 8.4583|    train|      330877|   2.0|       0.0|           0|            0|
|          7|       0|     1|0.0|  54|    0|    0|51.8625|    train|       17463|   0.0|       4.0|          46|            1|
|          8|       0|     3|0.0|   2|    3|    1| 21.075|    train|      349909|   0.0|       0.0|           0|            0|
|          9|       1|     3|1.0|  27|    0|    2|11.1333|    train|      347742|   0.0|       0.0|           0|            0|
|         10|       1|     2|1.0|  14|    1|    0|30.0708|    train|      237736|   1.0|       0.0|           0|            0|
|         11|       1|     3|1.0|   4|    1|    1|   16.7|    train|        9549|   0.0|       7.0|           6|            1|
|         12|       1|     1|1.0|  58|    0|    0|  26.55|    train|      113783|   0.0|       1.0|         103|            1|
|         13|       0|     3|0.0|  20|    0|    0|   8.05|    train|        2151|   0.0|       0.0|           0|            0|
|         14|       0|     3|0.0|  39|    1|    5| 31.275|    train|      347082|   0.0|       0.0|           0|            0|
|         15|       0|     3|1.0|  14|    0|    0| 7.8542|    train|      350406|   0.0|       0.0|           0|            0|
|         16|       1|     2|1.0|  55|    0|    0|     16|    train|      248706|   0.0|       0.0|           0|            0|
|         17|       0|     3|0.0|   2|    4|    1| 29.125|    train|      382652|   2.0|       0.0|           0|            0|
|         18|       1|     2|0.0|null|    0|    0|     13|    train|      244373|   0.0|       0.0|           0|            0|
|         19|       0|     3|1.0|  31|    1|    0|     18|    train|      345763|   0.0|       0.0|           0|            0|
|         20|       1|     3|1.0|null|    0|    0|  7.225|    train|        2649|   1.0|       0.0|           0|            0|
+-----------+--------+------+---+----+-----+-----+-------+---------+------------+------+----------+------------+-------------+
only showing top 20 rows

In [82]:
from pyspark.sql.functions import split, when

# Split the 'Ticket' column into 'TicketName' and 'TicketNumber'
df = df.withColumn('TicketName', when(df['Ticket'].rlike('\\s'), split(df['Ticket'], ' ').getItem(0)).otherwise(None)) \
       .withColumn('TicketNumber', when(df['Ticket'].rlike('\\s'), split(df['Ticket'], ' ').getItem(1)).otherwise(df['Ticket']))

In [85]:
df = df.drop('Ticket')

In [59]:
df = df.withColumn('Embarked', df['Embark'])
df = df.drop('Embarked')

In [86]:
df.show()

+-----------+--------+------+---+----+-----+-----+-------+---------+---------+------------+------+----------+------------+-------------+----------+
|PassengerId|Survived|Pclass|sex| Age|SibSp|Parch|   Fare|traintest|NameAbrev|TicketNumber|Embark|CabinAbrev|CabinNumbers|CabinOnTicket|TicketName|
+-----------+--------+------+---+----+-----+-----+-------+---------+---------+------------+------+----------+------------+-------------+----------+
|          1|       0|     3|0.0|  22|    1|    0|   7.25|    train|       Mr|       21171|   0.0|       0.0|           0|            0|       A/5|
|          2|       1|     1|1.0|  38|    1|    0|71.2833|    train|      Mrs|       17599|   1.0|       1.0|          85|            1|        PC|
|          3|       1|     3|1.0|  26|    0|    0|  7.925|    train|     Miss|     3101282|   0.0|       0.0|           0|            0|  STON/O2.|
|          4|       1|     1|1.0|  35|    1|    0|   53.1|    train|      Mrs|      113803|   0.0|       1.0|         123|            1|      null|
|          5|       0|     3|0.0|  35|    0|    0|   8.05|    train|       Mr|      373450|   0.0|       0.0|           0|            0|      null|
|          6|       0|     3|0.0|null|    0|    0| 8.4583|    train|       Mr|      330877|   2.0|       0.0|           0|            0|      null|
|          7|       0|     1|0.0|  54|    0|    0|51.8625|    train|       Mr|       17463|   0.0|       4.0|          46|            1|      null|
|          8|       0|     3|0.0|   2|    3|    1| 21.075|    train|     None|      349909|   0.0|       0.0|           0|            0|      null|
|          9|       1|     3|1.0|  27|    0|    2|11.1333|    train|      Mrs|      347742|   0.0|       0.0|           0|            0|      null|
|         10|       1|     2|1.0|  14|    1|    0|30.0708|    train|      Mrs|      237736|   1.0|       0.0|           0|            0|      null|
|         11|       1|     3|1.0|   4|    1|    1|   16.7|    train|     Miss|        9549|   0.0|       7.0|           6|            1|        PP|
|         12|       1|     1|1.0|  58|    0|    0|  26.55|    train|     Miss|      113783|   0.0|       1.0|         103|            1|      null|
|         13|       0|     3|0.0|  20|    0|    0|   8.05|    train|       Mr|        2151|   0.0|       0.0|           0|            0|      A/5.|
|         14|       0|     3|0.0|  39|    1|    5| 31.275|    train|       Mr|      347082|   0.0|       0.0|           0|            0|      null|
|         15|       0|     3|1.0|  14|    0|    0| 7.8542|    train|     Miss|      350406|   0.0|       0.0|           0|            0|      null|
|         16|       1|     2|1.0|  55|    0|    0|     16|    train|      Mrs|      248706|   0.0|       0.0|           0|            0|      null|
|         17|       0|     3|0.0|   2|    4|    1| 29.125|    train|     None|      382652|   2.0|       0.0|           0|            0|      null|
|         18|       1|     2|0.0|null|    0|    0|     13|    train|       Mr|      244373|   0.0|       0.0|           0|            0|      null|
|         19|       0|     3|1.0|  31|    1|    0|     18|    train|      Mrs|      345763|   0.0|       0.0|           0|            0|      null|
|         20|       1|     3|1.0|null|    0|    0|  7.225|    train|      Mrs|        2649|   1.0|       0.0|           0|            0|      null|
+-----------+--------+------+---+----+-----+-----+-------+---------+---------+------------+------+----------+------------+-------------+----------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

DataFrame[PassengerId: string, Survived: string, Pclass: string, Name: string, sex: double, Age: string, SibSp: string, Parch: string, Ticket: string, Fare: string, Cabin: string, Embarked: double, traintest: string, NameContains: int, TicketName: string, TicketNumber: string]

In [61]:

df = df.withColumn('CabinAbrev', when(df['Cabin'].rlike('[A-Za-z]'), regexp_extract(df['Cabin'], '[A-Za-z]', 0)).otherwise(0))

In [62]:
df.show()

+-----------+--------+------+--------------------+---+----+-----+-----+----------------+-------+-----+---------+---------+----------+------------+------+----------+
|PassengerId|Survived|Pclass|                Name|sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|traintest|NameAbrev|TicketName|TicketNumber|Embark|CabinAbrev|
+-----------+--------+------+--------------------+---+----+-----+-----+----------------+-------+-----+---------+---------+----------+------------+------+----------+
|          1|       0|     3|Braund, Mr. Owen ...|0.0|  22|    1|    0|       A/5 21171|   7.25|    0|    train|       Mr|       A/5|       21171|   0.0|         0|
|          2|       1|     1|Cumings, Mrs. Joh...|1.0|  38|    1|    0|        PC 17599|71.2833|  C85|    train|      Mrs|        PC|       17599|   1.0|         C|
|          3|       1|     3|Heikkinen, Miss. ...|1.0|  26|    0|    0|STON/O2. 3101282|  7.925|    0|    train|     Miss|  STON/O2.|     3101282|   0.0|         0|
|          4|       1|     1|Futrelle, Mrs. Ja...|1.0|  35|    1|    0|          113803|   53.1| C123|    train|      Mrs|      null|      113803|   0.0|         C|
|          5|       0|     3|Allen, Mr. Willia...|0.0|  35|    0|    0|          373450|   8.05|    0|    train|       Mr|      null|      373450|   0.0|         0|
|          6|       0|     3|    Moran, Mr. James|0.0|null|    0|    0|          330877| 8.4583|    0|    train|       Mr|      null|      330877|   2.0|         0|
|          7|       0|     1|McCarthy, Mr. Tim...|0.0|  54|    0|    0|           17463|51.8625|  E46|    train|       Mr|      null|       17463|   0.0|         E|
|          8|       0|     3|Palsson, Master. ...|0.0|   2|    3|    1|          349909| 21.075|    0|    train|     None|      null|      349909|   0.0|         0|
|          9|       1|     3|Johnson, Mrs. Osc...|1.0|  27|    0|    2|          347742|11.1333|    0|    train|      Mrs|      null|      347742|   0.0|         0|
|         10|       1|     2|Nasser, Mrs. Nich...|1.0|  14|    1|    0|          237736|30.0708|    0|    train|      Mrs|      null|      237736|   1.0|         0|
|         11|       1|     3|Sandstrom, Miss. ...|1.0|   4|    1|    1|         PP 9549|   16.7|   G6|    train|     Miss|        PP|        9549|   0.0|         G|
|         12|       1|     1|Bonnell, Miss. El...|1.0|  58|    0|    0|          113783|  26.55| C103|    train|     Miss|      null|      113783|   0.0|         C|
|         13|       0|     3|Saundercock, Mr. ...|0.0|  20|    0|    0|       A/5. 2151|   8.05|    0|    train|       Mr|      A/5.|        2151|   0.0|         0|
|         14|       0|     3|Andersson, Mr. An...|0.0|  39|    1|    5|          347082| 31.275|    0|    train|       Mr|      null|      347082|   0.0|         0|
|         15|       0|     3|Vestrom, Miss. Hu...|1.0|  14|    0|    0|          350406| 7.8542|    0|    train|     Miss|      null|      350406|   0.0|         0|
|         16|       1|     2|Hewlett, Mrs. (Ma...|1.0|  55|    0|    0|          248706|     16|    0|    train|      Mrs|      null|      248706|   0.0|         0|
|         17|       0|     3|Rice, Master. Eugene|0.0|   2|    4|    1|          382652| 29.125|    0|    train|     None|      null|      382652|   2.0|         0|
|         18|       1|     2|Williams, Mr. Cha...|0.0|null|    0|    0|          244373|     13|    0|    train|       Mr|      null|      244373|   0.0|         0|
|         19|       0|     3|Vander Planke, Mr...|1.0|  31|    1|    0|          345763|     18|    0|    train|      Mrs|      null|      345763|   0.0|         0|
|         20|       1|     3|Masselmani, Mrs. ...|1.0|null|    0|    0|            2649|  7.225|    0|    train|      Mrs|      null|        2649|   1.0|         0|
+-----------+--------+------+--------------------+---+----+-----+-----+----------------+-------+-----+---------+---------+----------+------------+------+----------+
only showing top 20 rows

In [64]:
from pyspark.sql.functions import regexp_replace
df = df.withColumn('CabinNumbers', regexp_replace(df['Cabin'], '[^0-9]', ''))

In [65]:
df.show()

+-----------+--------+------+--------------------+---+----+-----+-----+----------------+-------+-----+---------+---------+----------+------------+------+----------+------------+
|PassengerId|Survived|Pclass|                Name|sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|traintest|NameAbrev|TicketName|TicketNumber|Embark|CabinAbrev|CabinNumbers|
+-----------+--------+------+--------------------+---+----+-----+-----+----------------+-------+-----+---------+---------+----------+------------+------+----------+------------+
|          1|       0|     3|Braund, Mr. Owen ...|0.0|  22|    1|    0|       A/5 21171|   7.25|    0|    train|       Mr|       A/5|       21171|   0.0|         0|           0|
|          2|       1|     1|Cumings, Mrs. Joh...|1.0|  38|    1|    0|        PC 17599|71.2833|  C85|    train|      Mrs|        PC|       17599|   1.0|         C|          85|
|          3|       1|     3|Heikkinen, Miss. ...|1.0|  26|    0|    0|STON/O2. 3101282|  7.925|    0|    train|     Miss|  STON/O2.|     3101282|   0.0|         0|           0|
|          4|       1|     1|Futrelle, Mrs. Ja...|1.0|  35|    1|    0|          113803|   53.1| C123|    train|      Mrs|      null|      113803|   0.0|         C|         123|
|          5|       0|     3|Allen, Mr. Willia...|0.0|  35|    0|    0|          373450|   8.05|    0|    train|       Mr|      null|      373450|   0.0|         0|           0|
|          6|       0|     3|    Moran, Mr. James|0.0|null|    0|    0|          330877| 8.4583|    0|    train|       Mr|      null|      330877|   2.0|         0|           0|
|          7|       0|     1|McCarthy, Mr. Tim...|0.0|  54|    0|    0|           17463|51.8625|  E46|    train|       Mr|      null|       17463|   0.0|         E|          46|
|          8|       0|     3|Palsson, Master. ...|0.0|   2|    3|    1|          349909| 21.075|    0|    train|     None|      null|      349909|   0.0|         0|           0|
|          9|       1|     3|Johnson, Mrs. Osc...|1.0|  27|    0|    2|          347742|11.1333|    0|    train|      Mrs|      null|      347742|   0.0|         0|           0|
|         10|       1|     2|Nasser, Mrs. Nich...|1.0|  14|    1|    0|          237736|30.0708|    0|    train|      Mrs|      null|      237736|   1.0|         0|           0|
|         11|       1|     3|Sandstrom, Miss. ...|1.0|   4|    1|    1|         PP 9549|   16.7|   G6|    train|     Miss|        PP|        9549|   0.0|         G|           6|
|         12|       1|     1|Bonnell, Miss. El...|1.0|  58|    0|    0|          113783|  26.55| C103|    train|     Miss|      null|      113783|   0.0|         C|         103|
|         13|       0|     3|Saundercock, Mr. ...|0.0|  20|    0|    0|       A/5. 2151|   8.05|    0|    train|       Mr|      A/5.|        2151|   0.0|         0|           0|
|         14|       0|     3|Andersson, Mr. An...|0.0|  39|    1|    5|          347082| 31.275|    0|    train|       Mr|      null|      347082|   0.0|         0|           0|
|         15|       0|     3|Vestrom, Miss. Hu...|1.0|  14|    0|    0|          350406| 7.8542|    0|    train|     Miss|      null|      350406|   0.0|         0|           0|
|         16|       1|     2|Hewlett, Mrs. (Ma...|1.0|  55|    0|    0|          248706|     16|    0|    train|      Mrs|      null|      248706|   0.0|         0|           0|
|         17|       0|     3|Rice, Master. Eugene|0.0|   2|    4|    1|          382652| 29.125|    0|    train|     None|      null|      382652|   2.0|         0|           0|
|         18|       1|     2|Williams, Mr. Cha...|0.0|null|    0|    0|          244373|     13|    0|    train|       Mr|      null|      244373|   0.0|         0|           0|
|         19|       0|     3|Vander Planke, Mr...|1.0|  31|    1|    0|          345763|     18|    0|    train|      Mrs|      null|      345763|   0.0|         0|           0|
|         20|       1|     3|Masselmani, Mrs. ...|1.0|null|    0|    0|            2649|  7.225|    0|    train|      Mrs|      null|        2649|   1.0|         0|           0|
+-----------+--------+------+--------------------+---+----+-----+-----+----------------+-------+-----+---------+---------+----------+------------+------+----------+------------+
only showing top 20 rows

In [66]:
df =df.drop('Cabin')

In [67]:
df = df.withColumn('CabinOnTicket', when((df.CabinAbrev == 0), 0).otherwise(1))

In [80]:
df.show()

+-----------+--------+------+---+----+-----+-----+----------------+-------+---------+---------+------------+------+----------+------------+-------------+
|PassengerId|Survived|Pclass|sex| Age|SibSp|Parch|          Ticket|   Fare|traintest|NameAbrev|TicketNumber|Embark|CabinAbrev|CabinNumbers|CabinOnTicket|
+-----------+--------+------+---+----+-----+-----+----------------+-------+---------+---------+------------+------+----------+------------+-------------+
|          1|       0|     3|0.0|  22|    1|    0|       A/5 21171|   7.25|    train|       Mr|       21171|   0.0|       0.0|           0|            0|
|          2|       1|     1|1.0|  38|    1|    0|        PC 17599|71.2833|    train|      Mrs|       17599|   1.0|       1.0|          85|            1|
|          3|       1|     3|1.0|  26|    0|    0|STON/O2. 3101282|  7.925|    train|     Miss|     3101282|   0.0|       0.0|           0|            0|
|          4|       1|     1|1.0|  35|    1|    0|          113803|   53.1|    train|      Mrs|      113803|   0.0|       1.0|         123|            1|
|          5|       0|     3|0.0|  35|    0|    0|          373450|   8.05|    train|       Mr|      373450|   0.0|       0.0|           0|            0|
|          6|       0|     3|0.0|null|    0|    0|          330877| 8.4583|    train|       Mr|      330877|   2.0|       0.0|           0|            0|
|          7|       0|     1|0.0|  54|    0|    0|           17463|51.8625|    train|       Mr|       17463|   0.0|       4.0|          46|            1|
|          8|       0|     3|0.0|   2|    3|    1|          349909| 21.075|    train|     None|      349909|   0.0|       0.0|           0|            0|
|          9|       1|     3|1.0|  27|    0|    2|          347742|11.1333|    train|      Mrs|      347742|   0.0|       0.0|           0|            0|
|         10|       1|     2|1.0|  14|    1|    0|          237736|30.0708|    train|      Mrs|      237736|   1.0|       0.0|           0|            0|
|         11|       1|     3|1.0|   4|    1|    1|         PP 9549|   16.7|    train|     Miss|        9549|   0.0|       7.0|           6|            1|
|         12|       1|     1|1.0|  58|    0|    0|          113783|  26.55|    train|     Miss|      113783|   0.0|       1.0|         103|            1|
|         13|       0|     3|0.0|  20|    0|    0|       A/5. 2151|   8.05|    train|       Mr|        2151|   0.0|       0.0|           0|            0|
|         14|       0|     3|0.0|  39|    1|    5|          347082| 31.275|    train|       Mr|      347082|   0.0|       0.0|           0|            0|
|         15|       0|     3|1.0|  14|    0|    0|          350406| 7.8542|    train|     Miss|      350406|   0.0|       0.0|           0|            0|
|         16|       1|     2|1.0|  55|    0|    0|          248706|     16|    train|      Mrs|      248706|   0.0|       0.0|           0|            0|
|         17|       0|     3|0.0|   2|    4|    1|          382652| 29.125|    train|     None|      382652|   2.0|       0.0|           0|            0|
|         18|       1|     2|0.0|null|    0|    0|          244373|     13|    train|       Mr|      244373|   0.0|       0.0|           0|            0|
|         19|       0|     3|1.0|  31|    1|    0|          345763|     18|    train|      Mrs|      345763|   0.0|       0.0|           0|            0|
|         20|       1|     3|1.0|null|    0|    0|            2649|  7.225|    train|      Mrs|        2649|   1.0|       0.0|           0|            0|
+-----------+--------+------+---+----+-----+-----+----------------+-------+---------+---------+------------+------+----------+------------+-------------+
only showing top 20 rows

In [70]:
indexer = StringIndexer(inputCol='CabinAbrev', outputCol = 'CabinAbrevEncoded')
indexer_fitted = indexer.fit(df)

In [72]:
df.groupBy('CabinAbrev').count().show()

+----------+-----+
|CabinAbrev|count|
+----------+-----+
|         F|   21|
|         0| 1013|
|         E|   41|
|         T|    1|
|         B|   63|
|         D|   46|
|         C|   94|
|         A|   22|
|         G|    5|
+----------+-----+

In [71]:
df = indexer_fitted.transform(df)
df.show()

+-----------+--------+------+--------------------+---+----+-----+-----+----------------+-------+---------+---------+----------+------------+------+----------+------------+-------------+-----------------+
|PassengerId|Survived|Pclass|                Name|sex| Age|SibSp|Parch|          Ticket|   Fare|traintest|NameAbrev|TicketName|TicketNumber|Embark|CabinAbrev|CabinNumbers|CabinOnTicket|CabinAbrevEncoded|
+-----------+--------+------+--------------------+---+----+-----+-----+----------------+-------+---------+---------+----------+------------+------+----------+------------+-------------+-----------------+
|          1|       0|     3|Braund, Mr. Owen ...|0.0|  22|    1|    0|       A/5 21171|   7.25|    train|       Mr|       A/5|       21171|   0.0|         0|           0|            0|              0.0|
|          2|       1|     1|Cumings, Mrs. Joh...|1.0|  38|    1|    0|        PC 17599|71.2833|    train|      Mrs|        PC|       17599|   1.0|         C|          85|            1|              1.0|
|          3|       1|     3|Heikkinen, Miss. ...|1.0|  26|    0|    0|STON/O2. 3101282|  7.925|    train|     Miss|  STON/O2.|     3101282|   0.0|         0|           0|            0|              0.0|
|          4|       1|     1|Futrelle, Mrs. Ja...|1.0|  35|    1|    0|          113803|   53.1|    train|      Mrs|      null|      113803|   0.0|         C|         123|            1|              1.0|
|          5|       0|     3|Allen, Mr. Willia...|0.0|  35|    0|    0|          373450|   8.05|    train|       Mr|      null|      373450|   0.0|         0|           0|            0|              0.0|
|          6|       0|     3|    Moran, Mr. James|0.0|null|    0|    0|          330877| 8.4583|    train|       Mr|      null|      330877|   2.0|         0|           0|            0|              0.0|
|          7|       0|     1|McCarthy, Mr. Tim...|0.0|  54|    0|    0|           17463|51.8625|    train|       Mr|      null|       17463|   0.0|         E|          46|            1|              4.0|
|          8|       0|     3|Palsson, Master. ...|0.0|   2|    3|    1|          349909| 21.075|    train|     None|      null|      349909|   0.0|         0|           0|            0|              0.0|
|          9|       1|     3|Johnson, Mrs. Osc...|1.0|  27|    0|    2|          347742|11.1333|    train|      Mrs|      null|      347742|   0.0|         0|           0|            0|              0.0|
|         10|       1|     2|Nasser, Mrs. Nich...|1.0|  14|    1|    0|          237736|30.0708|    train|      Mrs|      null|      237736|   1.0|         0|           0|            0|              0.0|
|         11|       1|     3|Sandstrom, Miss. ...|1.0|   4|    1|    1|         PP 9549|   16.7|    train|     Miss|        PP|        9549|   0.0|         G|           6|            1|              7.0|
|         12|       1|     1|Bonnell, Miss. El...|1.0|  58|    0|    0|          113783|  26.55|    train|     Miss|      null|      113783|   0.0|         C|         103|            1|              1.0|
|         13|       0|     3|Saundercock, Mr. ...|0.0|  20|    0|    0|       A/5. 2151|   8.05|    train|       Mr|      A/5.|        2151|   0.0|         0|           0|            0|              0.0|
|         14|       0|     3|Andersson, Mr. An...|0.0|  39|    1|    5|          347082| 31.275|    train|       Mr|      null|      347082|   0.0|         0|           0|            0|              0.0|
|         15|       0|     3|Vestrom, Miss. Hu...|1.0|  14|    0|    0|          350406| 7.8542|    train|     Miss|      null|      350406|   0.0|         0|           0|            0|              0.0|
|         16|       1|     2|Hewlett, Mrs. (Ma...|1.0|  55|    0|    0|          248706|     16|    train|      Mrs|      null|      248706|   0.0|         0|           0|            0|              0.0|
|         17|       0|     3|Rice, Master. Eugene|0.0|   2|    4|    1|          382652| 29.125|    train|     None|      null|      382652|   2.0|         0|           0|            0|              0.0|
|         18|       1|     2|Williams, Mr. Cha...|0.0|null|    0|    0|          244373|     13|    train|       Mr|      null|      244373|   0.0|         0|           0|            0|              0.0|
|         19|       0|     3|Vander Planke, Mr...|1.0|  31|    1|    0|          345763|     18|    train|      Mrs|      null|      345763|   0.0|         0|           0|            0|              0.0|
|         20|       1|     3|Masselmani, Mrs. ...|1.0|null|    0|    0|            2649|  7.225|    train|      Mrs|      null|        2649|   1.0|         0|           0|            0|              0.0|
+-----------+--------+------+--------------------+---+----+-----+-----+----------------+-------+---------+---------+----------+------------+------+----------+------------+-------------+-----------------+
only showing top 20 rows

In [73]:
df = df.withColumn('CabinAbrev', df['CabinAbrevEncoded'])
df = df.drop('CabinAbrevEncoded')
df.show()

+-----------+--------+------+--------------------+---+----+-----+-----+----------------+-------+---------+---------+----------+------------+------+----------+------------+-------------+
|PassengerId|Survived|Pclass|                Name|sex| Age|SibSp|Parch|          Ticket|   Fare|traintest|NameAbrev|TicketName|TicketNumber|Embark|CabinAbrev|CabinNumbers|CabinOnTicket|
+-----------+--------+------+--------------------+---+----+-----+-----+----------------+-------+---------+---------+----------+------------+------+----------+------------+-------------+
|          1|       0|     3|Braund, Mr. Owen ...|0.0|  22|    1|    0|       A/5 21171|   7.25|    train|       Mr|       A/5|       21171|   0.0|       0.0|           0|            0|
|          2|       1|     1|Cumings, Mrs. Joh...|1.0|  38|    1|    0|        PC 17599|71.2833|    train|      Mrs|        PC|       17599|   1.0|       1.0|          85|            1|
|          3|       1|     3|Heikkinen, Miss. ...|1.0|  26|    0|    0|STON/O2. 3101282|  7.925|    train|     Miss|  STON/O2.|     3101282|   0.0|       0.0|           0|            0|
|          4|       1|     1|Futrelle, Mrs. Ja...|1.0|  35|    1|    0|          113803|   53.1|    train|      Mrs|      null|      113803|   0.0|       1.0|         123|            1|
|          5|       0|     3|Allen, Mr. Willia...|0.0|  35|    0|    0|          373450|   8.05|    train|       Mr|      null|      373450|   0.0|       0.0|           0|            0|
|          6|       0|     3|    Moran, Mr. James|0.0|null|    0|    0|          330877| 8.4583|    train|       Mr|      null|      330877|   2.0|       0.0|           0|            0|
|          7|       0|     1|McCarthy, Mr. Tim...|0.0|  54|    0|    0|           17463|51.8625|    train|       Mr|      null|       17463|   0.0|       4.0|          46|            1|
|          8|       0|     3|Palsson, Master. ...|0.0|   2|    3|    1|          349909| 21.075|    train|     None|      null|      349909|   0.0|       0.0|           0|            0|
|          9|       1|     3|Johnson, Mrs. Osc...|1.0|  27|    0|    2|          347742|11.1333|    train|      Mrs|      null|      347742|   0.0|       0.0|           0|            0|
|         10|       1|     2|Nasser, Mrs. Nich...|1.0|  14|    1|    0|          237736|30.0708|    train|      Mrs|      null|      237736|   1.0|       0.0|           0|            0|
|         11|       1|     3|Sandstrom, Miss. ...|1.0|   4|    1|    1|         PP 9549|   16.7|    train|     Miss|        PP|        9549|   0.0|       7.0|           6|            1|
|         12|       1|     1|Bonnell, Miss. El...|1.0|  58|    0|    0|          113783|  26.55|    train|     Miss|      null|      113783|   0.0|       1.0|         103|            1|
|         13|       0|     3|Saundercock, Mr. ...|0.0|  20|    0|    0|       A/5. 2151|   8.05|    train|       Mr|      A/5.|        2151|   0.0|       0.0|           0|            0|
|         14|       0|     3|Andersson, Mr. An...|0.0|  39|    1|    5|          347082| 31.275|    train|       Mr|      null|      347082|   0.0|       0.0|           0|            0|
|         15|       0|     3|Vestrom, Miss. Hu...|1.0|  14|    0|    0|          350406| 7.8542|    train|     Miss|      null|      350406|   0.0|       0.0|           0|            0|
|         16|       1|     2|Hewlett, Mrs. (Ma...|1.0|  55|    0|    0|          248706|     16|    train|      Mrs|      null|      248706|   0.0|       0.0|           0|            0|
|         17|       0|     3|Rice, Master. Eugene|0.0|   2|    4|    1|          382652| 29.125|    train|     None|      null|      382652|   2.0|       0.0|           0|            0|
|         18|       1|     2|Williams, Mr. Cha...|0.0|null|    0|    0|          244373|     13|    train|       Mr|      null|      244373|   0.0|       0.0|           0|            0|
|         19|       0|     3|Vander Planke, Mr...|1.0|  31|    1|    0|          345763|     18|    train|      Mrs|      null|      345763|   0.0|       0.0|           0|            0|
|         20|       1|     3|Masselmani, Mrs. ...|1.0|null|    0|    0|            2649|  7.225|    train|      Mrs|      null|        2649|   1.0|       0.0|           0|            0|
+-----------+--------+------+--------------------+---+----+-----+-----+----------------+-------+---------+---------+----------+------------+------+----------+------------+-------------+
only showing top 20 rows

In [91]:
df.groupBy('TicketName').count().show()

+----------+-----+
|TicketName|count|
+----------+-----+
|    S.O.P.|    1|
|        PC|   92|
|        SC|    2|
|      P/PP|    2|
|  SC/PARIS|   11|
|     W./C.|   14|
|      S.P.|    1|
|       A4.|    1|
|  SOTON/O2|    3|
|      null|  958|
| S.C./A.4.|    1|
|       W/C|    1|
|        CA|   10|
|      F.C.|    3|
|      A/4.|    3|
|    STON/O|   14|
|     SW/PP|    1|
|C.A./SOTON|    1|
|    S.O.C.|    7|
|     SCO/W|    1|
+----------+-----+
only showing top 20 rows

In [76]:
df.groupBy('TicketName').count().orderBy('count', ascending=False).show(50)

+----------+-----+
|TicketName|count|
+----------+-----+
|      null|  958|
|        PC|   92|
|      C.A.|   46|
|SOTON/O.Q.|   16|
|     W./C.|   14|
|    STON/O|   14|
|       A/5|   12|
|       CA.|   12|
|  SC/PARIS|   11|
|      A/5.|   10|
|        CA|   10|
|    F.C.C.|    9|
|  SOTON/OQ|    8|
|         C|    8|
|    S.O.C.|    7|
| S.O./P.P.|    7|
|  STON/O2.|    7|
|       A/4|    6|
|  SC/Paris|    5|
|     SC/AH|    5|
|        PP|    4|
|      A.5.|    3|
|      A/4.|    3|
|S.C./PARIS|    3|
|     A./5.|    3|
|  SOTON/O2|    3|
|      F.C.|    3|
|    W.E.P.|    2|
|      WE/P|    2|
|        SC|    2|
|      P/PP|    2|
|    S.O.P.|    1|
|      S.P.|    1|
|        LP|    1|
|       A4.|    1|
|       A/S|    1|
|     SC/A4|    1|
| S.C./A.4.|    1|
|       W/C|    1|
|        Fa|    1|
|     AQ/3.|    1|
|      AQ/4|    1|
|     SW/PP|    1|
|C.A./SOTON|    1|
|      SO/C|    1|
|  STON/OQ.|    1|
|        A.|    1|
|     SCO/W|    1|
|   S.W./PP|    1|
|    SC/A.3|    1|
+----------+-----+

In [107]:
from pyspark.sql.functions import countDistinct

unique_ticket_names = df.select(countDistinct("TicketName")).collect()[0][0]
print("Number of unique TicketName values: ", unique_ticket_names)

AnalysisException: ignored

In [ ]:
unique_ticket_names = df.select("TicketName").distinct().rdd.flatMap(lambda x: x).collect()
print(unique_ticket_names)

['S.O.P.', 'PC', 'SC', 'P/PP', 'SC/PARIS', 'W./C.', 'S.P.', 'A4.', 'SOTON/O2', None, 'S.C./A.4.', 'W/C', 'CA', 'F.C.', 'A/4.', 'STON/O', 'SW/PP', 'C.A./SOTON', 'S.O.C.', 'SCO/W', 'S.O./P.P.', 'C', 'C.A.', 'S.C./PARIS', 'W.E.P.', 'CA.', 'A/S', 'SC/Paris', 'SOTON/OQ', 'F.C.C.', 'A/5', 'WE/P', 'A.5.', 'A/5.', 'SC/AH', 'A./5.', 'Fa', 'SOTON/O.Q.', 'STON/O2.', 'SO/C', 'A/4', 'S.W./PP', 'PP', 'AQ/3.', 'STON/OQ.', 'A.', 'SC/A.3', 'LP', 'SC/A4', 'AQ/4']

In [77]:
df = df.drop('Name')

In [78]:
df = df.drop('TicketName')

In [95]:
df.show()

+-----------+--------+------+---+----+-----+-----+-------+---------+---------+------------+------+----------+------------+-------------+
|PassengerId|Survived|Pclass|sex| Age|SibSp|Parch|   Fare|traintest|NameAbrev|TicketNumber|Embark|CabinAbrev|CabinNumbers|CabinOnTicket|
+-----------+--------+------+---+----+-----+-----+-------+---------+---------+------------+------+----------+------------+-------------+
|          1|       0|     3|0.0|  22|    1|    0|   7.25|    train|       Mr|       21171|   0.0|       0.0|           0|            0|
|          2|       1|     1|1.0|  38|    1|    0|71.2833|    train|      Mrs|       17599|   1.0|       1.0|          85|            1|
|          3|       1|     3|1.0|  26|    0|    0|  7.925|    train|     Miss|     3101282|   0.0|       0.0|           0|            0|
|          4|       1|     1|1.0|  35|    1|    0|   53.1|    train|      Mrs|      113803|   0.0|       1.0|         123|            1|
|          5|       0|     3|0.0|  35|    0|    0|   8.05|    train|       Mr|      373450|   0.0|       0.0|           0|            0|
|          6|       0|     3|0.0|null|    0|    0| 8.4583|    train|       Mr|      330877|   2.0|       0.0|           0|            0|
|          7|       0|     1|0.0|  54|    0|    0|51.8625|    train|       Mr|       17463|   0.0|       4.0|          46|            1|
|          8|       0|     3|0.0|   2|    3|    1| 21.075|    train|     None|      349909|   0.0|       0.0|           0|            0|
|          9|       1|     3|1.0|  27|    0|    2|11.1333|    train|      Mrs|      347742|   0.0|       0.0|           0|            0|
|         10|       1|     2|1.0|  14|    1|    0|30.0708|    train|      Mrs|      237736|   1.0|       0.0|           0|            0|
|         11|       1|     3|1.0|   4|    1|    1|   16.7|    train|     Miss|        9549|   0.0|       7.0|           6|            1|
|         12|       1|     1|1.0|  58|    0|    0|  26.55|    train|     Miss|      113783|   0.0|       1.0|         103|            1|
|         13|       0|     3|0.0|  20|    0|    0|   8.05|    train|       Mr|        2151|   0.0|       0.0|           0|            0|
|         14|       0|     3|0.0|  39|    1|    5| 31.275|    train|       Mr|      347082|   0.0|       0.0|           0|            0|
|         15|       0|     3|1.0|  14|    0|    0| 7.8542|    train|     Miss|      350406|   0.0|       0.0|           0|            0|
|         16|       1|     2|1.0|  55|    0|    0|     16|    train|      Mrs|      248706|   0.0|       0.0|           0|            0|
|         17|       0|     3|0.0|   2|    4|    1| 29.125|    train|     None|      382652|   2.0|       0.0|           0|            0|
|         18|       1|     2|0.0|null|    0|    0|     13|    train|       Mr|      244373|   0.0|       0.0|           0|            0|
|         19|       0|     3|1.0|  31|    1|    0|     18|    train|      Mrs|      345763|   0.0|       0.0|           0|            0|
|         20|       1|     3|1.0|null|    0|    0|  7.225|    train|      Mrs|        2649|   1.0|       0.0|           0|            0|
+-----------+--------+------+---+----+-----+-----+-------+---------+---------+------------+------+----------+------------+-------------+
only showing top 20 rows

In [96]:
from pyspark.ml.feature import OneHotEncoder, StringIndexer

# Create a StringIndexer for the NameAbrev column
indexer = StringIndexer(inputCol='NameAbrev', outputCol='NameAbrevIndex')

# Fit the StringIndexer to the data
indexed = indexer.fit(df).transform(df)

# Create a OneHotEncoder for the NameAbrevIndex column
encoder = OneHotEncoder(inputCol='NameAbrevIndex', outputCol='NameAbrevVec')

# Fit the encoder to the data
encoded = encoder.fit(indexed).transform(indexed)

# Display the encoded data
encoded.show()

+-----------+--------+------+---+----+-----+-----+-------+---------+---------+------------+------+----------+------------+-------------+--------------+-------------+
|PassengerId|Survived|Pclass|sex| Age|SibSp|Parch|   Fare|traintest|NameAbrev|TicketNumber|Embark|CabinAbrev|CabinNumbers|CabinOnTicket|NameAbrevIndex| NameAbrevVec|
+-----------+--------+------+---+----+-----+-----+-------+---------+---------+------------+------+----------+------------+-------------+--------------+-------------+
|          1|       0|     3|0.0|  22|    1|    0|   7.25|    train|       Mr|       21171|   0.0|       0.0|           0|            0|           0.0|(3,[0],[1.0])|
|          2|       1|     1|1.0|  38|    1|    0|71.2833|    train|      Mrs|       17599|   1.0|       1.0|          85|            1|           2.0|(3,[2],[1.0])|
|          3|       1|     3|1.0|  26|    0|    0|  7.925|    train|     Miss|     3101282|   0.0|       0.0|           0|            0|           1.0|(3,[1],[1.0])|
|          4|       1|     1|1.0|  35|    1|    0|   53.1|    train|      Mrs|      113803|   0.0|       1.0|         123|            1|           2.0|(3,[2],[1.0])|
|          5|       0|     3|0.0|  35|    0|    0|   8.05|    train|       Mr|      373450|   0.0|       0.0|           0|            0|           0.0|(3,[0],[1.0])|
|          6|       0|     3|0.0|null|    0|    0| 8.4583|    train|       Mr|      330877|   2.0|       0.0|           0|            0|           0.0|(3,[0],[1.0])|
|          7|       0|     1|0.0|  54|    0|    0|51.8625|    train|       Mr|       17463|   0.0|       4.0|          46|            1|           0.0|(3,[0],[1.0])|
|          8|       0|     3|0.0|   2|    3|    1| 21.075|    train|     None|      349909|   0.0|       0.0|           0|            0|           3.0|    (3,[],[])|
|          9|       1|     3|1.0|  27|    0|    2|11.1333|    train|      Mrs|      347742|   0.0|       0.0|           0|            0|           2.0|(3,[2],[1.0])|
|         10|       1|     2|1.0|  14|    1|    0|30.0708|    train|      Mrs|      237736|   1.0|       0.0|           0|            0|           2.0|(3,[2],[1.0])|
|         11|       1|     3|1.0|   4|    1|    1|   16.7|    train|     Miss|        9549|   0.0|       7.0|           6|            1|           1.0|(3,[1],[1.0])|
|         12|       1|     1|1.0|  58|    0|    0|  26.55|    train|     Miss|      113783|   0.0|       1.0|         103|            1|           1.0|(3,[1],[1.0])|
|         13|       0|     3|0.0|  20|    0|    0|   8.05|    train|       Mr|        2151|   0.0|       0.0|           0|            0|           0.0|(3,[0],[1.0])|
|         14|       0|     3|0.0|  39|    1|    5| 31.275|    train|       Mr|      347082|   0.0|       0.0|           0|            0|           0.0|(3,[0],[1.0])|
|         15|       0|     3|1.0|  14|    0|    0| 7.8542|    train|     Miss|      350406|   0.0|       0.0|           0|            0|           1.0|(3,[1],[1.0])|
|         16|       1|     2|1.0|  55|    0|    0|     16|    train|      Mrs|      248706|   0.0|       0.0|           0|            0|           2.0|(3,[2],[1.0])|
|         17|       0|     3|0.0|   2|    4|    1| 29.125|    train|     None|      382652|   2.0|       0.0|           0|            0|           3.0|    (3,[],[])|
|         18|       1|     2|0.0|null|    0|    0|     13|    train|       Mr|      244373|   0.0|       0.0|           0|            0|           0.0|(3,[0],[1.0])|
|         19|       0|     3|1.0|  31|    1|    0|     18|    train|      Mrs|      345763|   0.0|       0.0|           0|            0|           2.0|(3,[2],[1.0])|
|         20|       1|     3|1.0|null|    0|    0|  7.225|    train|      Mrs|        2649|   1.0|       0.0|           0|            0|           2.0|(3,[2],[1.0])|
+-----------+--------+------+---+----+-----+-----+-------+---------+---------+------------+------+----------+------------+-------------+--------------+-------------+
only showing top 20 rows

In [185]:
encoded.show()

+-----------+--------+------+---+----+-----+-----+-------+---------+------------+------+----------+------------+-------------+--------------+-------------+
|PassengerId|Survived|Pclass|sex| Age|SibSp|Parch|   Fare|traintest|TicketNumber|Embark|CabinAbrev|CabinNumbers|CabinOnTicket|NameAbrevIndex| NameAbrevVec|
+-----------+--------+------+---+----+-----+-----+-------+---------+------------+------+----------+------------+-------------+--------------+-------------+
|          1|       0|     3|0.0|  22|    1|    0|   7.25|    train|       21171|   0.0|       0.0|           0|            0|           0.0|(3,[0],[1.0])|
|          2|       1|     1|1.0|  38|    1|    0|71.2833|    train|       17599|   1.0|       1.0|          85|            1|           2.0|(3,[2],[1.0])|
|          3|       1|     3|1.0|  26|    0|    0|  7.925|    train|     3101282|   0.0|       0.0|           0|            0|           1.0|(3,[1],[1.0])|
|          4|       1|     1|1.0|  35|    1|    0|   53.1|    train|      113803|   0.0|       1.0|         123|            1|           2.0|(3,[2],[1.0])|
|          5|       0|     3|0.0|  35|    0|    0|   8.05|    train|      373450|   0.0|       0.0|           0|            0|           0.0|(3,[0],[1.0])|
|          6|       0|     3|0.0|null|    0|    0| 8.4583|    train|      330877|   2.0|       0.0|           0|            0|           0.0|(3,[0],[1.0])|
|          7|       0|     1|0.0|  54|    0|    0|51.8625|    train|       17463|   0.0|       4.0|          46|            1|           0.0|(3,[0],[1.0])|
|          8|       0|     3|0.0|   2|    3|    1| 21.075|    train|      349909|   0.0|       0.0|           0|            0|           3.0|    (3,[],[])|
|          9|       1|     3|1.0|  27|    0|    2|11.1333|    train|      347742|   0.0|       0.0|           0|            0|           2.0|(3,[2],[1.0])|
|         10|       1|     2|1.0|  14|    1|    0|30.0708|    train|      237736|   1.0|       0.0|           0|            0|           2.0|(3,[2],[1.0])|
|         11|       1|     3|1.0|   4|    1|    1|   16.7|    train|        9549|   0.0|       7.0|           6|            1|           1.0|(3,[1],[1.0])|
|         12|       1|     1|1.0|  58|    0|    0|  26.55|    train|      113783|   0.0|       1.0|         103|            1|           1.0|(3,[1],[1.0])|
|         13|       0|     3|0.0|  20|    0|    0|   8.05|    train|        2151|   0.0|       0.0|           0|            0|           0.0|(3,[0],[1.0])|
|         14|       0|     3|0.0|  39|    1|    5| 31.275|    train|      347082|   0.0|       0.0|           0|            0|           0.0|(3,[0],[1.0])|
|         15|       0|     3|1.0|  14|    0|    0| 7.8542|    train|      350406|   0.0|       0.0|           0|            0|           1.0|(3,[1],[1.0])|
|         16|       1|     2|1.0|  55|    0|    0|     16|    train|      248706|   0.0|       0.0|           0|            0|           2.0|(3,[2],[1.0])|
|         17|       0|     3|0.0|   2|    4|    1| 29.125|    train|      382652|   2.0|       0.0|           0|            0|           3.0|    (3,[],[])|
|         18|       1|     2|0.0|null|    0|    0|     13|    train|      244373|   0.0|       0.0|           0|            0|           0.0|(3,[0],[1.0])|
|         19|       0|     3|1.0|  31|    1|    0|     18|    train|      345763|   0.0|       0.0|           0|            0|           2.0|(3,[2],[1.0])|
|         20|       1|     3|1.0|null|    0|    0|  7.225|    train|        2649|   1.0|       0.0|           0|            0|           2.0|(3,[2],[1.0])|
+-----------+--------+------+---+----+-----+-----+-------+---------+------------+------+----------+------------+-------------+--------------+-------------+
only showing top 20 rows

In [186]:
df = encoded

In [187]:
df = df.drop('NameAbrevIndex')

In [105]:
from pyspark.sql.types import IntegerType

# Cast the Survived column to integer
encoded = encoded.withColumn('Survived', encoded['Survived'].cast(IntegerType()))

# Display the updated schema
encoded.printSchema()

root
 |-- PassengerId: string (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- sex: double (nullable = false)
 |-- Age: string (nullable = true)
 |-- SibSp: string (nullable = true)
 |-- Parch: string (nullable = true)
 |-- Fare: string (nullable = true)
 |-- traintest: string (nullable = false)
 |-- TicketNumber: string (nullable = true)
 |-- Embark: double (nullable = false)
 |-- CabinAbrev: double (nullable = false)
 |-- CabinNumbers: string (nullable = false)
 |-- CabinOnTicket: integer (nullable = false)
 |-- NameAbrevIndex: double (nullable = false)
 |-- NameAbrevVec: vector (nullable = true)

In [106]:
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.stat import Correlation

# Define the columns to include in the correlation matrix
cols = ['Survived', 'NameAbrevVec']

# Create a VectorAssembler to combine the columns into a single feature column
assembler = VectorAssembler(inputCols=cols, outputCol='features')

# Use the VectorAssembler to transform the DataFrame
df_assembled = assembler.transform(encoded).select('features')

# Compute the correlation matrix
correlation_matrix = Correlation.corr(df_assembled, 'features').head()

# Extract the correlation matrix as a numpy array
corr_array = correlation_matrix[0].toArray()

# Print the correlation matrix
print(corr_array)

[[ 1.         -0.40678242  0.25632294  0.23574146]
 [-0.40678242  1.         -0.58403424 -0.49639167]
 [ 0.25632294 -0.58403424  1.         -0.21025157]
 [ 0.23574146 -0.49639167 -0.21025157  1.        ]]

In [109]:
df.show()

+-----------+--------+------+---+----+-----+-----+-------+---------+------------+------+----------+------------+-------------+
|PassengerId|Survived|Pclass|sex| Age|SibSp|Parch|   Fare|traintest|TicketNumber|Embark|CabinAbrev|CabinNumbers|CabinOnTicket|
+-----------+--------+------+---+----+-----+-----+-------+---------+------------+------+----------+------------+-------------+
|          1|       0|     3|0.0|  22|    1|    0|   7.25|    train|       21171|   0.0|       0.0|           0|            0|
|          2|       1|     1|1.0|  38|    1|    0|71.2833|    train|       17599|   1.0|       1.0|          85|            1|
|          3|       1|     3|1.0|  26|    0|    0|  7.925|    train|     3101282|   0.0|       0.0|           0|            0|
|          4|       1|     1|1.0|  35|    1|    0|   53.1|    train|      113803|   0.0|       1.0|         123|            1|
|          5|       0|     3|0.0|  35|    0|    0|   8.05|    train|      373450|   0.0|       0.0|           0|            0|
|          6|       0|     3|0.0|null|    0|    0| 8.4583|    train|      330877|   2.0|       0.0|           0|            0|
|          7|       0|     1|0.0|  54|    0|    0|51.8625|    train|       17463|   0.0|       4.0|          46|            1|
|          8|       0|     3|0.0|   2|    3|    1| 21.075|    train|      349909|   0.0|       0.0|           0|            0|
|          9|       1|     3|1.0|  27|    0|    2|11.1333|    train|      347742|   0.0|       0.0|           0|            0|
|         10|       1|     2|1.0|  14|    1|    0|30.0708|    train|      237736|   1.0|       0.0|           0|            0|
|         11|       1|     3|1.0|   4|    1|    1|   16.7|    train|        9549|   0.0|       7.0|           6|            1|
|         12|       1|     1|1.0|  58|    0|    0|  26.55|    train|      113783|   0.0|       1.0|         103|            1|
|         13|       0|     3|0.0|  20|    0|    0|   8.05|    train|        2151|   0.0|       0.0|           0|            0|
|         14|       0|     3|0.0|  39|    1|    5| 31.275|    train|      347082|   0.0|       0.0|           0|            0|
|         15|       0|     3|1.0|  14|    0|    0| 7.8542|    train|      350406|   0.0|       0.0|           0|            0|
|         16|       1|     2|1.0|  55|    0|    0|     16|    train|      248706|   0.0|       0.0|           0|            0|
|         17|       0|     3|0.0|   2|    4|    1| 29.125|    train|      382652|   2.0|       0.0|           0|            0|
|         18|       1|     2|0.0|null|    0|    0|     13|    train|      244373|   0.0|       0.0|           0|            0|
|         19|       0|     3|1.0|  31|    1|    0|     18|    train|      345763|   0.0|       0.0|           0|            0|
|         20|       1|     3|1.0|null|    0|    0|  7.225|    train|        2649|   1.0|       0.0|           0|            0|
+-----------+--------+------+---+----+-----+-----+-------+---------+------------+------+----------+------------+-------------+
only showing top 20 rows

In [108]:
df.printSchema()

root
 |-- PassengerId: string (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- sex: double (nullable = false)
 |-- Age: string (nullable = true)
 |-- SibSp: string (nullable = true)
 |-- Parch: string (nullable = true)
 |-- Fare: string (nullable = true)
 |-- traintest: string (nullable = false)
 |-- TicketNumber: string (nullable = true)
 |-- Embark: double (nullable = false)
 |-- CabinAbrev: double (nullable = false)
 |-- CabinNumbers: string (nullable = false)
 |-- CabinOnTicket: integer (nullable = false)

In [ ]:
df.show()

+-----------+--------+------+---+----+-----+-----+----------------+-------+--------+---------+------------+----------+------------+----------+------------+
|PassengerId|Survived|Pclass|sex| Age|SibSp|Parch|          Ticket|   Fare|Embarked|traintest|NameContains|TicketName|TicketNumber|CabinAbrev|CabinNumbers|
+-----------+--------+------+---+----+-----+-----+----------------+-------+--------+---------+------------+----------+------------+----------+------------+
|          1|       0|     3|0.0|  22|    1|    0|       A/5 21171|   7.25|     0.0|    train|           1|       A/5|       21171|       0.0|           0|
|          2|       1|     1|1.0|  38|    1|    0|        PC 17599|71.2833|     1.0|    train|           1|        PC|       17599|       1.0|          85|
|          3|       1|     3|1.0|  26|    0|    0|STON/O2. 3101282|  7.925|     0.0|    train|           1|  STON/O2.|     3101282|       0.0|           0|
|          4|       1|     1|1.0|  35|    1|    0|          113803|   53.1|     0.0|    train|           1|      null|      113803|       1.0|         123|
|          5|       0|     3|0.0|  35|    0|    0|          373450|   8.05|     0.0|    train|           1|      null|      373450|       0.0|           0|
|          6|       0|     3|0.0|null|    0|    0|          330877| 8.4583|     2.0|    train|           1|      null|      330877|       0.0|           0|
|          7|       0|     1|0.0|  54|    0|    0|           17463|51.8625|     0.0|    train|           1|      null|       17463|       4.0|          46|
|          8|       0|     3|0.0|   2|    3|    1|          349909| 21.075|     0.0|    train|           0|      null|      349909|       0.0|           0|
|          9|       1|     3|1.0|  27|    0|    2|          347742|11.1333|     0.0|    train|           1|      null|      347742|       0.0|           0|
|         10|       1|     2|1.0|  14|    1|    0|          237736|30.0708|     1.0|    train|           1|      null|      237736|       0.0|           0|
|         11|       1|     3|1.0|   4|    1|    1|         PP 9549|   16.7|     0.0|    train|           1|        PP|        9549|       7.0|           6|
|         12|       1|     1|1.0|  58|    0|    0|          113783|  26.55|     0.0|    train|           1|      null|      113783|       1.0|         103|
|         13|       0|     3|0.0|  20|    0|    0|       A/5. 2151|   8.05|     0.0|    train|           1|      A/5.|        2151|       0.0|           0|
|         14|       0|     3|0.0|  39|    1|    5|          347082| 31.275|     0.0|    train|           1|      null|      347082|       0.0|           0|
|         15|       0|     3|1.0|  14|    0|    0|          350406| 7.8542|     0.0|    train|           1|      null|      350406|       0.0|           0|
|         16|       1|     2|1.0|  55|    0|    0|          248706|     16|     0.0|    train|           1|      null|      248706|       0.0|           0|
|         17|       0|     3|0.0|   2|    4|    1|          382652| 29.125|     2.0|    train|           0|      null|      382652|       0.0|           0|
|         18|       1|     2|0.0|null|    0|    0|          244373|     13|     0.0|    train|           1|      null|      244373|       0.0|           0|
|         19|       0|     3|1.0|  31|    1|    0|          345763|     18|     0.0|    train|           1|      null|      345763|       0.0|           0|
|         20|       1|     3|1.0|null|    0|    0|            2649|  7.225|     1.0|    train|           1|      null|        2649|       0.0|           0|
+-----------+--------+------+---+----+-----+-----+----------------+-------+--------+---------+------------+----------+------------+----------+------------+
only showing top 20 rows

+-----------+--------+------+---+----+-----+-----+----------------+-------+--------+---------+------------+------------+----------+------------+
|PassengerId|Survived|Pclass|sex| Age|SibSp|Parch|          Ticket|   Fare|Embarked|traintest|NameContains|TicketNumber|CabinAbrev|CabinNumbers|
+-----------+--------+------+---+----+-----+-----+----------------+-------+--------+---------+------------+------------+----------+------------+
|          1|       0|     3|0.0|  22|    1|    0|       A/5 21171|   7.25|     0.0|    train|           1|       21171|       0.0|           0|
|          2|       1|     1|1.0|  38|    1|    0|        PC 17599|71.2833|     1.0|    train|           1|       17599|       1.0|          85|
|          3|       1|     3|1.0|  26|    0|    0|STON/O2. 3101282|  7.925|     0.0|    train|           1|     3101282|       0.0|           0|
|          4|       1|     1|1.0|  35|    1|    0|          113803|   53.1|     0.0|    train|           1|      113803|       1.0|         123|
|          5|       0|     3|0.0|  35|    0|    0|          373450|   8.05|     0.0|    train|           1|      373450|       0.0|           0|
|          6|       0|     3|0.0|null|    0|    0|          330877| 8.4583|     2.0|    train|           1|      330877|       0.0|           0|
|          7|       0|     1|0.0|  54|    0|    0|           17463|51.8625|     0.0|    train|           1|       17463|       4.0|          46|
|          8|       0|     3|0.0|   2|    3|    1|          349909| 21.075|     0.0|    train|           0|      349909|       0.0|           0|
|          9|       1|     3|1.0|  27|    0|    2|          347742|11.1333|     0.0|    train|           1|      347742|       0.0|           0|
|         10|       1|     2|1.0|  14|    1|    0|          237736|30.0708|     1.0|    train|           1|      237736|       0.0|           0|
|         11|       1|     3|1.0|   4|    1|    1|         PP 9549|   16.7|     0.0|    train|           1|        9549|       7.0|           6|
|         12|       1|     1|1.0|  58|    0|    0|          113783|  26.55|     0.0|    train|           1|      113783|       1.0|         103|
|         13|       0|     3|0.0|  20|    0|    0|       A/5. 2151|   8.05|     0.0|    train|           1|        2151|       0.0|           0|
|         14|       0|     3|0.0|  39|    1|    5|          347082| 31.275|     0.0|    train|           1|      347082|       0.0|           0|
|         15|       0|     3|1.0|  14|    0|    0|          350406| 7.8542|     0.0|    train|           1|      350406|       0.0|           0|
|         16|       1|     2|1.0|  55|    0|    0|          248706|     16|     0.0|    train|           1|      248706|       0.0|           0|
|         17|       0|     3|0.0|   2|    4|    1|          382652| 29.125|     2.0|    train|           0|      382652|       0.0|           0|
|         18|       1|     2|0.0|null|    0|    0|          244373|     13|     0.0|    train|           1|      244373|       0.0|           0|
|         19|       0|     3|1.0|  31|    1|    0|          345763|     18|     0.0|    train|           1|      345763|       0.0|           0|
|         20|       1|     3|1.0|null|    0|    0|            2649|  7.225|     1.0|    train|           1|        2649|       0.0|           0|
+-----------+--------+------+---+----+-----+-----+----------------+-------+--------+---------+------------+------------+----------+------------+
only showing top 20 rows

+-----------+--------+------+---+----+-----+-----+-------+--------+---------+------------+------------+----------+------------+
|PassengerId|Survived|Pclass|sex| Age|SibSp|Parch|   Fare|Embarked|traintest|NameContains|TicketNumber|CabinAbrev|CabinNumbers|
+-----------+--------+------+---+----+-----+-----+-------+--------+---------+------------+------------+----------+------------+
|          1|       0|     3|0.0|  22|    1|    0|   7.25|     0.0|    train|           1|       21171|       0.0|           0|
|          2|       1|     1|1.0|  38|    1|    0|71.2833|     1.0|    train|           1|       17599|       1.0|          85|
|          3|       1|     3|1.0|  26|    0|    0|  7.925|     0.0|    train|           1|     3101282|       0.0|           0|
|          4|       1|     1|1.0|  35|    1|    0|   53.1|     0.0|    train|           1|      113803|       1.0|         123|
|          5|       0|     3|0.0|  35|    0|    0|   8.05|     0.0|    train|           1|      373450|       0.0|           0|
|          6|       0|     3|0.0|null|    0|    0| 8.4583|     2.0|    train|           1|      330877|       0.0|           0|
|          7|       0|     1|0.0|  54|    0|    0|51.8625|     0.0|    train|           1|       17463|       4.0|          46|
|          8|       0|     3|0.0|   2|    3|    1| 21.075|     0.0|    train|           0|      349909|       0.0|           0|
|          9|       1|     3|1.0|  27|    0|    2|11.1333|     0.0|    train|           1|      347742|       0.0|           0|
|         10|       1|     2|1.0|  14|    1|    0|30.0708|     1.0|    train|           1|      237736|       0.0|           0|
|         11|       1|     3|1.0|   4|    1|    1|   16.7|     0.0|    train|           1|        9549|       7.0|           6|
|         12|       1|     1|1.0|  58|    0|    0|  26.55|     0.0|    train|           1|      113783|       1.0|         103|
|         13|       0|     3|0.0|  20|    0|    0|   8.05|     0.0|    train|           1|        2151|       0.0|           0|
|         14|       0|     3|0.0|  39|    1|    5| 31.275|     0.0|    train|           1|      347082|       0.0|           0|
|         15|       0|     3|1.0|  14|    0|    0| 7.8542|     0.0|    train|           1|      350406|       0.0|           0|
|         16|       1|     2|1.0|  55|    0|    0|     16|     0.0|    train|           1|      248706|       0.0|           0|
|         17|       0|     3|0.0|   2|    4|    1| 29.125|     2.0|    train|           0|      382652|       0.0|           0|
|         18|       1|     2|0.0|null|    0|    0|     13|     0.0|    train|           1|      244373|       0.0|           0|
|         19|       0|     3|1.0|  31|    1|    0|     18|     0.0|    train|           1|      345763|       0.0|           0|
|         20|       1|     3|1.0|null|    0|    0|  7.225|     1.0|    train|           1|        2649|       0.0|           0|
+-----------+--------+------+---+----+-----+-----+-------+--------+---------+------------+------------+----------+------------+
only showing top 20 rows

In [188]:
df2 = df

In [189]:
df2 = df2.drop('traintest')

In [190]:

from pyspark.sql.functions import isnull
# Count the number of nulls in each column of the DataFrame
null_counts = df.select([count(when(isnull(c), c)).alias(c) for c in df.columns])
null_counts.show()

+-----------+--------+------+---+---+-----+-----+----+---------+------------+------+----------+------------+-------------+------------+
|PassengerId|Survived|Pclass|sex|Age|SibSp|Parch|Fare|traintest|TicketNumber|Embark|CabinAbrev|CabinNumbers|CabinOnTicket|NameAbrevVec|
+-----------+--------+------+---+---+-----+-----+----+---------+------------+------+----------+------------+-------------+------------+
|          0|       0|     0|  0|263|    0|    0|   0|        0|           0|     0|         0|           0|            0|           0|
+-----------+--------+------+---+---+-----+-----+----+---------+------------+------+----------+------------+-------------+------------+

+-----------+--------+------+---+---+-----+-----+----+--------+------------+------------+----------+------------+
|PassengerId|Survived|Pclass|sex|Age|SibSp|Parch|Fare|Embarked|NameContains|TicketNumber|CabinAbrev|CabinNumbers|
+-----------+--------+------+---+---+-----+-----+----+--------+------------+------------+----------+------------+
|          0|       0|     0|  0|263|    0|    0|   0|       0|           0|           5|         0|           6|
+-----------+--------+------+---+---+-----+-----+----+--------+------------+------------+----------+------------+

In [114]:
  df2.show()

+-----------+--------+------+---+----+-----+-----+-------+------------+------+----------+------------+-------------+
|PassengerId|Survived|Pclass|sex| Age|SibSp|Parch|   Fare|TicketNumber|Embark|CabinAbrev|CabinNumbers|CabinOnTicket|
+-----------+--------+------+---+----+-----+-----+-------+------------+------+----------+------------+-------------+
|          1|       0|     3|0.0|  22|    1|    0|   7.25|       21171|   0.0|       0.0|           0|            0|
|          2|       1|     1|1.0|  38|    1|    0|71.2833|       17599|   1.0|       1.0|          85|            1|
|          3|       1|     3|1.0|  26|    0|    0|  7.925|     3101282|   0.0|       0.0|           0|            0|
|          4|       1|     1|1.0|  35|    1|    0|   53.1|      113803|   0.0|       1.0|         123|            1|
|          5|       0|     3|0.0|  35|    0|    0|   8.05|      373450|   0.0|       0.0|           0|            0|
|          6|       0|     3|0.0|null|    0|    0| 8.4583|      330877|   2.0|       0.0|           0|            0|
|          7|       0|     1|0.0|  54|    0|    0|51.8625|       17463|   0.0|       4.0|          46|            1|
|          8|       0|     3|0.0|   2|    3|    1| 21.075|      349909|   0.0|       0.0|           0|            0|
|          9|       1|     3|1.0|  27|    0|    2|11.1333|      347742|   0.0|       0.0|           0|            0|
|         10|       1|     2|1.0|  14|    1|    0|30.0708|      237736|   1.0|       0.0|           0|            0|
|         11|       1|     3|1.0|   4|    1|    1|   16.7|        9549|   0.0|       7.0|           6|            1|
|         12|       1|     1|1.0|  58|    0|    0|  26.55|      113783|   0.0|       1.0|         103|            1|
|         13|       0|     3|0.0|  20|    0|    0|   8.05|        2151|   0.0|       0.0|           0|            0|
|         14|       0|     3|0.0|  39|    1|    5| 31.275|      347082|   0.0|       0.0|           0|            0|
|         15|       0|     3|1.0|  14|    0|    0| 7.8542|      350406|   0.0|       0.0|           0|            0|
|         16|       1|     2|1.0|  55|    0|    0|     16|      248706|   0.0|       0.0|           0|            0|
|         17|       0|     3|0.0|   2|    4|    1| 29.125|      382652|   2.0|       0.0|           0|            0|
|         18|       1|     2|0.0|null|    0|    0|     13|      244373|   0.0|       0.0|           0|            0|
|         19|       0|     3|1.0|  31|    1|    0|     18|      345763|   0.0|       0.0|           0|            0|
|         20|       1|     3|1.0|null|    0|    0|  7.225|        2649|   1.0|       0.0|           0|            0|
+-----------+--------+------+---+----+-----+-----+-------+------------+------+----------+------------+-------------+
only showing top 20 rows

In [191]:
df2.printSchema()

root
 |-- PassengerId: string (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- sex: double (nullable = false)
 |-- Age: string (nullable = true)
 |-- SibSp: string (nullable = true)
 |-- Parch: string (nullable = true)
 |-- Fare: string (nullable = true)
 |-- TicketNumber: string (nullable = true)
 |-- Embark: double (nullable = false)
 |-- CabinAbrev: double (nullable = false)
 |-- CabinNumbers: string (nullable = false)
 |-- CabinOnTicket: integer (nullable = false)
 |-- NameAbrevVec: vector (nullable = true)

In [192]:
df2 = df2.withColumn("Fare", col("Fare").cast("float"))

In [117]:
df2.show()

+-----------+--------+------+---+----+-----+-----+-------+------------+------+----------+------------+-------------+
|PassengerId|Survived|Pclass|sex| Age|SibSp|Parch|   Fare|TicketNumber|Embark|CabinAbrev|CabinNumbers|CabinOnTicket|
+-----------+--------+------+---+----+-----+-----+-------+------------+------+----------+------------+-------------+
|          1|       0|     3|0.0|  22|    1|    0|   7.25|       21171|   0.0|       0.0|           0|            0|
|          2|       1|     1|1.0|  38|    1|    0|71.2833|       17599|   1.0|       1.0|          85|            1|
|          3|       1|     3|1.0|  26|    0|    0|  7.925|     3101282|   0.0|       0.0|           0|            0|
|          4|       1|     1|1.0|  35|    1|    0|   53.1|      113803|   0.0|       1.0|         123|            1|
|          5|       0|     3|0.0|  35|    0|    0|   8.05|      373450|   0.0|       0.0|           0|            0|
|          6|       0|     3|0.0|null|    0|    0| 8.4583|      330877|   2.0|       0.0|           0|            0|
|          7|       0|     1|0.0|  54|    0|    0|51.8625|       17463|   0.0|       4.0|          46|            1|
|          8|       0|     3|0.0|   2|    3|    1| 21.075|      349909|   0.0|       0.0|           0|            0|
|          9|       1|     3|1.0|  27|    0|    2|11.1333|      347742|   0.0|       0.0|           0|            0|
|         10|       1|     2|1.0|  14|    1|    0|30.0708|      237736|   1.0|       0.0|           0|            0|
|         11|       1|     3|1.0|   4|    1|    1|   16.7|        9549|   0.0|       7.0|           6|            1|
|         12|       1|     1|1.0|  58|    0|    0|  26.55|      113783|   0.0|       1.0|         103|            1|
|         13|       0|     3|0.0|  20|    0|    0|   8.05|        2151|   0.0|       0.0|           0|            0|
|         14|       0|     3|0.0|  39|    1|    5| 31.275|      347082|   0.0|       0.0|           0|            0|
|         15|       0|     3|1.0|  14|    0|    0| 7.8542|      350406|   0.0|       0.0|           0|            0|
|         16|       1|     2|1.0|  55|    0|    0|   16.0|      248706|   0.0|       0.0|           0|            0|
|         17|       0|     3|0.0|   2|    4|    1| 29.125|      382652|   2.0|       0.0|           0|            0|
|         18|       1|     2|0.0|null|    0|    0|   13.0|      244373|   0.0|       0.0|           0|            0|
|         19|       0|     3|1.0|  31|    1|    0|   18.0|      345763|   0.0|       0.0|           0|            0|
|         20|       1|     3|1.0|null|    0|    0|  7.225|        2649|   1.0|       0.0|           0|            0|
+-----------+--------+------+---+----+-----+-----+-------+------------+------+----------+------------+-------------+
only showing top 20 rows

In [193]:
cols_list

['Survived',
 'Pclass',
 'sex',
 'SibSp',
 'Parch',
 'Fare',
 'TicketNumber',
 'Embark',
 'CabinAbrev',
 'CabinNumbers',
 'CabinOnTicket']

Py4JJavaError: ignored

In [ ]:
df2.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- sex: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Fare: integer (nullable = true)
 |-- Embarked: integer (nullable = true)
 |-- NameContains: integer (nullable = false)
 |-- TicketNumber: integer (nullable = true)
 |-- CabinAbrev: integer (nullable = true)
 |-- CabinNumbers: integer (nullable = true)

In [194]:
# List all column names
columns = df2.columns

# Loop over each column
for col in columns:
    # Check if column is of StringType
    if df2.select(col).dtypes[0][1] == 'string':
        # Cast column to IntegerType
        df2 = df2.withColumn(col, df2[col].cast('integer'))

In [195]:
cols_list = df2.columns

In [196]:
cols_list.remove('Age')

In [197]:
cols_list.remove('PassengerId')

In [198]:
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.stat import Correlation

# Define the columns to include in the correlation matrix
cols = cols_list

# Create a VectorAssembler to combine the columns into a single feature column
assembler = VectorAssembler(inputCols=cols, outputCol='features')

# Use the VectorAssembler to transform the DataFrame
df_assembled = assembler.transform(df2).select('features')

# Compute the correlation matrix
correlation_matrix = Correlation.corr(df_assembled, 'features').head()

# Extract the correlation matrix as a numpy array
corr_array = correlation_matrix[0].toArray()

# Print the correlation matrix
print(corr_array)

Py4JJavaError: ignored

In [130]:
print(corr_array)

[[ 1.         -0.40678242  0.25632294  0.23574146]
 [-0.40678242  1.         -0.58403424 -0.49639167]
 [ 0.25632294 -0.58403424  1.         -0.21025157]
 [ 0.23574146 -0.49639167 -0.21025157  1.        ]]

In [199]:
from pyspark.ml.regression import LinearRegression
from pyspark.ml.feature import VectorAssembler
from pyspark.sql.functions import isnan, when, count, col

In [200]:
df2.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- sex: double (nullable = false)
 |-- Age: integer (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Fare: float (nullable = true)
 |-- TicketNumber: integer (nullable = true)
 |-- Embark: double (nullable = false)
 |-- CabinAbrev: double (nullable = false)
 |-- CabinNumbers: integer (nullable = true)
 |-- CabinOnTicket: integer (nullable = false)
 |-- NameAbrevVec: vector (nullable = true)

In [217]:
df_age_not_null = df2.filter(col('Age').isNotNull())

In [218]:
df_age_not_null.show()

+-----------+--------+------+---+---+-----+-----+-------+------------+------+----------+------------+-------------+-------------+
|PassengerId|Survived|Pclass|sex|Age|SibSp|Parch|   Fare|TicketNumber|Embark|CabinAbrev|CabinNumbers|CabinOnTicket| NameAbrevVec|
+-----------+--------+------+---+---+-----+-----+-------+------------+------+----------+------------+-------------+-------------+
|          1|       0|     3|0.0| 22|    1|    0|   7.25|       21171|   0.0|       0.0|           0|            0|(3,[0],[1.0])|
|          2|       1|     1|1.0| 38|    1|    0|71.2833|       17599|   1.0|       1.0|          85|            1|(3,[2],[1.0])|
|          3|       1|     3|1.0| 26|    0|    0|  7.925|     3101282|   0.0|       0.0|           0|            0|(3,[1],[1.0])|
|          4|       1|     1|1.0| 35|    1|    0|   53.1|      113803|   0.0|       1.0|         123|            1|(3,[2],[1.0])|
|          5|       0|     3|0.0| 35|    0|    0|   8.05|      373450|   0.0|       0.0|           0|            0|(3,[0],[1.0])|
|          7|       0|     1|0.0| 54|    0|    0|51.8625|       17463|   0.0|       4.0|          46|            1|(3,[0],[1.0])|
|          8|       0|     3|0.0|  2|    3|    1| 21.075|      349909|   0.0|       0.0|           0|            0|    (3,[],[])|
|          9|       1|     3|1.0| 27|    0|    2|11.1333|      347742|   0.0|       0.0|           0|            0|(3,[2],[1.0])|
|         10|       1|     2|1.0| 14|    1|    0|30.0708|      237736|   1.0|       0.0|           0|            0|(3,[2],[1.0])|
|         11|       1|     3|1.0|  4|    1|    1|   16.7|        9549|   0.0|       7.0|           6|            1|(3,[1],[1.0])|
|         12|       1|     1|1.0| 58|    0|    0|  26.55|      113783|   0.0|       1.0|         103|            1|(3,[1],[1.0])|
|         13|       0|     3|0.0| 20|    0|    0|   8.05|        2151|   0.0|       0.0|           0|            0|(3,[0],[1.0])|
|         14|       0|     3|0.0| 39|    1|    5| 31.275|      347082|   0.0|       0.0|           0|            0|(3,[0],[1.0])|
|         15|       0|     3|1.0| 14|    0|    0| 7.8542|      350406|   0.0|       0.0|           0|            0|(3,[1],[1.0])|
|         16|       1|     2|1.0| 55|    0|    0|   16.0|      248706|   0.0|       0.0|           0|            0|(3,[2],[1.0])|
|         17|       0|     3|0.0|  2|    4|    1| 29.125|      382652|   2.0|       0.0|           0|            0|    (3,[],[])|
|         19|       0|     3|1.0| 31|    1|    0|   18.0|      345763|   0.0|       0.0|           0|            0|(3,[2],[1.0])|
|         21|       0|     2|0.0| 35|    0|    0|   26.0|      239865|   0.0|       0.0|           0|            0|(3,[0],[1.0])|
|         22|       1|     2|0.0| 34|    0|    0|   13.0|      248698|   0.0|       3.0|          56|            1|(3,[0],[1.0])|
|         23|       1|     3|1.0| 15|    0|    0| 8.0292|      330923|   2.0|       0.0|           0|            0|(3,[1],[1.0])|
+-----------+--------+------+---+---+-----+-----+-------+------------+------+----------+------------+-------------+-------------+
only showing top 20 rows

In [234]:
(training_data, testing_data) = df_age_not_null.randomSplit([0.7, 0.3])
lr = LinearRegression(featuresCol='features', labelCol='Age')

In [228]:
training_data.show()

+-----------+--------+------+---+---+-----+-----+-------+------------+------+----------+------------+-------------+-------------+
|PassengerId|Survived|Pclass|sex|Age|SibSp|Parch|   Fare|TicketNumber|Embark|CabinAbrev|CabinNumbers|CabinOnTicket| NameAbrevVec|
+-----------+--------+------+---+---+-----+-----+-------+------------+------+----------+------------+-------------+-------------+
|          1|       0|     3|0.0| 22|    1|    0|   7.25|       21171|   0.0|       0.0|           0|            0|(3,[0],[1.0])|
|          5|       0|     3|0.0| 35|    0|    0|   8.05|      373450|   0.0|       0.0|           0|            0|(3,[0],[1.0])|
|          7|       0|     1|0.0| 54|    0|    0|51.8625|       17463|   0.0|       4.0|          46|            1|(3,[0],[1.0])|
|          8|       0|     3|0.0|  2|    3|    1| 21.075|      349909|   0.0|       0.0|           0|            0|    (3,[],[])|
|          9|       1|     3|1.0| 27|    0|    2|11.1333|      347742|   0.0|       0.0|           0|            0|(3,[2],[1.0])|
|         10|       1|     2|1.0| 14|    1|    0|30.0708|      237736|   1.0|       0.0|           0|            0|(3,[2],[1.0])|
|         11|       1|     3|1.0|  4|    1|    1|   16.7|        9549|   0.0|       7.0|           6|            1|(3,[1],[1.0])|
|         17|       0|     3|0.0|  2|    4|    1| 29.125|      382652|   2.0|       0.0|           0|            0|    (3,[],[])|
|         21|       0|     2|0.0| 35|    0|    0|   26.0|      239865|   0.0|       0.0|           0|            0|(3,[0],[1.0])|
|         23|       1|     3|1.0| 15|    0|    0| 8.0292|      330923|   2.0|       0.0|           0|            0|(3,[1],[1.0])|
|         25|       0|     3|1.0|  8|    3|    1| 21.075|      349909|   0.0|       0.0|           0|            0|(3,[1],[1.0])|
|         26|       1|     3|1.0| 38|    1|    5|31.3875|      347077|   0.0|       0.0|           0|            0|(3,[2],[1.0])|
|         28|       0|     1|0.0| 19|    3|    2|  263.0|       19950|   0.0|       1.0|      232527|            1|(3,[0],[1.0])|
|         34|       0|     2|0.0| 66|    0|    0|   10.5|       24579|   0.0|       0.0|           0|            0|(3,[0],[1.0])|
|         35|       0|     1|0.0| 28|    1|    0|82.1708|       17604|   1.0|       0.0|           0|            0|(3,[0],[1.0])|
|         38|       0|     3|0.0| 21|    0|    0|   8.05|        2152|   0.0|       0.0|           0|            0|(3,[0],[1.0])|
|         39|       0|     3|1.0| 18|    2|    0|   18.0|      345764|   0.0|       0.0|           0|            0|(3,[1],[1.0])|
|         41|       0|     3|1.0| 40|    1|    0|  9.475|        7546|   0.0|       0.0|           0|            0|(3,[2],[1.0])|
|         42|       0|     2|1.0| 27|    1|    0|   21.0|       11668|   0.0|       0.0|           0|            0|(3,[2],[1.0])|
|         44|       1|     2|1.0|  3|    1|    2|41.5792|        2123|   1.0|       0.0|           0|            0|(3,[1],[1.0])|
+-----------+--------+------+---+---+-----+-----+-------+------------+------+----------+------------+-------------+-------------+
only showing top 20 rows

In [182]:
df.show()

+-----------+--------+------+---+----+-----+-----+-------+---------+------------+------+----------+------------+-------------+
|PassengerId|Survived|Pclass|sex| Age|SibSp|Parch|   Fare|traintest|TicketNumber|Embark|CabinAbrev|CabinNumbers|CabinOnTicket|
+-----------+--------+------+---+----+-----+-----+-------+---------+------------+------+----------+------------+-------------+
|          1|       0|     3|0.0|  22|    1|    0|   7.25|    train|       21171|   0.0|       0.0|           0|            0|
|          2|       1|     1|1.0|  38|    1|    0|71.2833|    train|       17599|   1.0|       1.0|          85|            1|
|          3|       1|     3|1.0|  26|    0|    0|  7.925|    train|     3101282|   0.0|       0.0|           0|            0|
|          4|       1|     1|1.0|  35|    1|    0|   53.1|    train|      113803|   0.0|       1.0|         123|            1|
|          5|       0|     3|0.0|  35|    0|    0|   8.05|    train|      373450|   0.0|       0.0|           0|            0|
|          6|       0|     3|0.0|null|    0|    0| 8.4583|    train|      330877|   2.0|       0.0|           0|            0|
|          7|       0|     1|0.0|  54|    0|    0|51.8625|    train|       17463|   0.0|       4.0|          46|            1|
|          8|       0|     3|0.0|   2|    3|    1| 21.075|    train|      349909|   0.0|       0.0|           0|            0|
|          9|       1|     3|1.0|  27|    0|    2|11.1333|    train|      347742|   0.0|       0.0|           0|            0|
|         10|       1|     2|1.0|  14|    1|    0|30.0708|    train|      237736|   1.0|       0.0|           0|            0|
|         11|       1|     3|1.0|   4|    1|    1|   16.7|    train|        9549|   0.0|       7.0|           6|            1|
|         12|       1|     1|1.0|  58|    0|    0|  26.55|    train|      113783|   0.0|       1.0|         103|            1|
|         13|       0|     3|0.0|  20|    0|    0|   8.05|    train|        2151|   0.0|       0.0|           0|            0|
|         14|       0|     3|0.0|  39|    1|    5| 31.275|    train|      347082|   0.0|       0.0|           0|            0|
|         15|       0|     3|1.0|  14|    0|    0| 7.8542|    train|      350406|   0.0|       0.0|           0|            0|
|         16|       1|     2|1.0|  55|    0|    0|     16|    train|      248706|   0.0|       0.0|           0|            0|
|         17|       0|     3|0.0|   2|    4|    1| 29.125|    train|      382652|   2.0|       0.0|           0|            0|
|         18|       1|     2|0.0|null|    0|    0|     13|    train|      244373|   0.0|       0.0|           0|            0|
|         19|       0|     3|1.0|  31|    1|    0|     18|    train|      345763|   0.0|       0.0|           0|            0|
|         20|       1|     3|1.0|null|    0|    0|  7.225|    train|        2649|   1.0|       0.0|           0|            0|
+-----------+--------+------+---+----+-----+-----+-------+---------+------------+------+----------+------------+-------------+
only showing top 20 rows

In [157]:
df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df_age_not_null.columns]
   ).show()

+-----------+--------+------+---+---+-----+-----+----+------------+------+----------+------------+-------------+
|PassengerId|Survived|Pclass|sex|Age|SibSp|Parch|Fare|TicketNumber|Embark|CabinAbrev|CabinNumbers|CabinOnTicket|
+-----------+--------+------+---+---+-----+-----+----+------------+------+----------+------------+-------------+
|          0|       0|     0|  0|263|    0|    0|   0|           0|     0|         0|           0|            0|
+-----------+--------+------+---+---+-----+-----+----+------------+------+----------+------------+-------------+

In [204]:
cols_list

['Survived',
 'Pclass',
 'sex',
 'SibSp',
 'Parch',
 'Fare',
 'TicketNumber',
 'Embark',
 'CabinAbrev',
 'CabinNumbers',
 'CabinOnTicket',
 'NameAbrevVec']

In [244]:
assembler = VectorAssembler(inputCols=['SibSp', 'Parch', 'Fare', 'Pclass','Survived','NameAbrevVec','Embark','CabinAbrev','CabinOnTicket','sex'], outputCol='features')
transformed_data = assembler.transform(training_data)
lr_model = lr.fit(transformed_data)

In [245]:
testing_data = assembler.transform(testing_data)
predictions = lr_model.transform(testing_data)

In [180]:
testing_data.show()

+-----------+--------+------+---+---+-----+-----+-------+------------+------+----------+------------+-------------+--------------------+
|PassengerId|Survived|Pclass|sex|Age|SibSp|Parch|   Fare|TicketNumber|Embark|CabinAbrev|CabinNumbers|CabinOnTicket|            features|
+-----------+--------+------+---+---+-----+-----+-------+------------+------+----------+------------+-------------+--------------------+
|          5|       0|     3|0.0| 35|    0|    0|   8.05|      373450|   0.0|       0.0|           0|            0|[0.0,0.0,8.050000...|
|         13|       0|     3|0.0| 20|    0|    0|   8.05|        2151|   0.0|       0.0|           0|            0|[0.0,0.0,8.050000...|
|         14|       0|     3|0.0| 39|    1|    5| 31.275|      347082|   0.0|       0.0|           0|            0|[1.0,5.0,31.27499...|
|         17|       0|     3|0.0|  2|    4|    1| 29.125|      382652|   2.0|       0.0|           0|            0|[4.0,1.0,29.125,3.0]|
|         21|       0|     2|0.0| 35|    0|    0|   26.0|      239865|   0.0|       0.0|           0|            0|  [0.0,0.0,26.0,2.0]|
|         24|       1|     1|0.0| 28|    0|    0|   35.5|      113788|   0.0|       5.0|           6|            1|  [0.0,0.0,35.5,1.0]|
|         25|       0|     3|1.0|  8|    3|    1| 21.075|      349909|   0.0|       0.0|           0|            0|[3.0,1.0,21.07500...|
|         38|       0|     3|0.0| 21|    0|    0|   8.05|        2152|   0.0|       0.0|           0|            0|[0.0,0.0,8.050000...|
|         41|       0|     3|1.0| 40|    1|    0|  9.475|        7546|   0.0|       0.0|           0|            0|[1.0,0.0,9.475000...|
|         44|       1|     2|1.0|  3|    1|    2|41.5792|        2123|   1.0|       0.0|           0|            0|[1.0,2.0,41.57920...|
|         52|       0|     3|0.0| 21|    0|    0|    7.8|       39886|   0.0|       0.0|           0|            0|[0.0,0.0,7.800000...|
|         55|       0|     1|0.0| 65|    0|    1|61.9792|      113509|   1.0|       2.0|          30|            1|[0.0,1.0,61.97919...|
|         61|       0|     3|0.0| 22|    0|    0| 7.2292|        2669|   1.0|       0.0|           0|            0|[0.0,0.0,7.229199...|
|         64|       0|     3|0.0|  4|    3|    2|   27.9|      347088|   0.0|       0.0|           0|            0|[3.0,2.0,27.89999...|
|         68|       0|     3|0.0| 19|    0|    0| 8.1583|        3464|   0.0|       0.0|           0|            0|[0.0,0.0,8.158300...|
|         69|       1|     3|1.0| 17|    4|    2|  7.925|     3101281|   0.0|       0.0|           0|            0|[4.0,2.0,7.925000...|
|         71|       0|     2|0.0| 32|    0|    0|   10.5|       33111|   0.0|       0.0|           0|            0|  [0.0,0.0,10.5,2.0]|
|         74|       0|     3|0.0| 26|    1|    0|14.4542|        2680|   1.0|       0.0|           0|            0|[1.0,0.0,14.45419...|
|         76|       0|     3|0.0| 25|    0|    0|   7.65|      348123|   0.0|       6.0|          73|            1|[0.0,0.0,7.650000...|
|         81|       0|     3|0.0| 22|    0|    0|    9.0|      345767|   0.0|       0.0|           0|            0|   [0.0,0.0,9.0,3.0]|
+-----------+--------+------+---+---+-----+-----+-------+------------+------+----------+------------+-------------+--------------------+
only showing top 20 rows

In [246]:
predictions.show()

+-----------+--------+------+---+---+-----+-----+-------+------------+------+----------+------------+-------------+-------------+--------------------+------------------+
|PassengerId|Survived|Pclass|sex|Age|SibSp|Parch|   Fare|TicketNumber|Embark|CabinAbrev|CabinNumbers|CabinOnTicket| NameAbrevVec|            features|        prediction|
+-----------+--------+------+---+---+-----+-----+-------+------------+------+----------+------------+-------------+-------------+--------------------+------------------+
|          8|       0|     3|0.0|  2|    3|    1| 21.075|      349909|   0.0|       0.0|           0|            0|    (3,[],[])|(12,[0,1,2,3],[3....| 7.566054662755569|
|         15|       0|     3|1.0| 14|    0|    0| 7.8542|      350406|   0.0|       0.0|           0|            0|(3,[1],[1.0])|(12,[2,3,6,11],[7...| 19.13383631966177|
|         21|       0|     2|0.0| 35|    0|    0|   26.0|      239865|   0.0|       0.0|           0|            0|(3,[0],[1.0])|(12,[2,3,5],[26.0...| 34.93014431322415|
|         23|       1|     3|1.0| 15|    0|    0| 8.0292|      330923|   2.0|       0.0|           0|            0|(3,[1],[1.0])|(12,[2,3,4,6,8,11...| 18.16515854024571|
|         31|       0|     1|0.0| 40|    0|    0|27.7208|       17601|   1.0|       0.0|           0|            0|    (3,[],[])|(12,[2,3,8],[27.7...| 29.13152938494383|
|         38|       0|     3|0.0| 21|    0|    0|   8.05|        2152|   0.0|       0.0|           0|            0|(3,[0],[1.0])|(12,[2,3,5],[8.05...|28.452618687506032|
|         39|       0|     3|1.0| 18|    2|    0|   18.0|      345764|   0.0|       0.0|           0|            0|(3,[1],[1.0])|(12,[0,2,3,6,11],...|14.673144527560112|
|         44|       1|     2|1.0|  3|    1|    2|41.5792|        2123|   1.0|       0.0|           0|            0|(3,[1],[1.0])|[1.0,2.0,41.57920...| 19.38828228868286|
|         45|       1|     3|1.0| 19|    0|    0| 7.8792|      330958|   2.0|       0.0|           0|            0|(3,[1],[1.0])|(12,[2,3,4,6,8,11...|18.164261842483157|
|         53|       1|     1|1.0| 49|    1|    0|76.7292|       17572|   1.0|       3.0|          33|            1|(3,[2],[1.0])|[1.0,0.0,76.72920...| 41.83881364192437|
|         55|       0|     1|0.0| 65|    0|    1|61.9792|      113509|   1.0|       2.0|          30|            1|(3,[0],[1.0])|[0.0,1.0,61.97919...| 41.31384348840684|
|         58|       0|     3|0.0| 28|    0|    0| 7.2292|        2697|   1.0|       0.0|           0|            0|(3,[0],[1.0])|(12,[2,3,5,8],[7....| 29.36730495634739|
|         59|       1|     2|1.0|  5|    1|    2|  27.75|       34651|   0.0|       0.0|           0|            0|(3,[1],[1.0])|[1.0,2.0,27.75,2....|18.386018309372815|
|         74|       0|     3|0.0| 26|    1|    0|14.4542|        2680|   1.0|       0.0|           0|            0|(3,[0],[1.0])|(12,[0,2,3,5,8],[...|27.149824313803286|
|         82|       1|     3|0.0| 29|    0|    0|    9.5|      345779|   0.0|       0.0|           0|            0|(3,[0],[1.0])|(12,[2,3,4,5],[9....|25.652376832432772|
|         86|       1|     3|1.0| 33|    3|    0|  15.85|     3101278|   0.0|       0.0|           0|            0|(3,[2],[1.0])|(12,[0,2,3,4,7,11...| 23.88401896321391|
|         87|       0|     3|0.0| 16|    1|    3| 34.375|        6608|   0.0|       0.0|           0|            0|(3,[0],[1.0])|(12,[0,1,2,3,5],[...|23.098226876276733|
|         97|       0|     1|0.0| 71|    0|    0|34.6542|       17754|   1.0|       5.0|           5|            1|(3,[0],[1.0])|(12,[2,3,5,8,9,10...|40.575138764627624|
|         98|       1|     1|0.0| 23|    0|    1|63.3583|       17759|   1.0|       3.0|        1012|            1|(3,[0],[1.0])|[0.0,1.0,63.35829...| 37.96016017390346|
|         99|       1|     2|1.0| 34|    0|    1|   23.0|      231919|   0.0|       0.0|           0|            0|(3,[2],[1.0])|(12,[1,2,3,4,7,11...| 35.99530027563382|
+-----------+--------+------+---+---+-----+-----+-------+------------+------+----------+------------+-------------+-------------+--------------------+------------------+
only showing top 20 rows

In [247]:
from pyspark.ml.evaluation import RegressionEvaluator

evaluator = RegressionEvaluator(labelCol='Age', predictionCol='prediction', metricName='mse')
mse = evaluator.evaluate(predictions)

print(f"Mean Squared Error (MSE): {mse:.2f}")

Mean Squared Error (MSE): 154.21

In [248]:
from pyspark.sql.functions import variance

variance_age = training_data.select(variance('Age')).collect()[0][0]
print(f"Variance of Age column: {variance_age:.2f}")

Variance of Age column: 203.20

In [252]:
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.sql.functions import abs, col

In [253]:
# Calculate RMSE
evaluator = RegressionEvaluator(labelCol='Age', predictionCol='prediction', metricName='rmse')
rmse = evaluator.evaluate(predictions)

# Calculate MAE
mae = predictions.select(abs(col('Age') - col('prediction')).alias('abs_error')).agg({'abs_error': 'mean'}).collect()[0][0]

# Calculate R2
evaluator = RegressionEvaluator(labelCol='Age', predictionCol='prediction', metricName='r2')
r2 = evaluator.evaluate(predictions)

# Print the metrics
print(f"Root Mean Squared Error (RMSE): {rmse:.2f}")
print(f"Mean Absolute Error (MAE): {mae:.2f}")
print(f"R-Squared (R2): {r2:.2f}")

# Compare the metrics
print(f"RMSE is {rmse/variance_age:.2%} of the variance of Age column")
print(f"MAE is {mae/variance_age:.2%} of the variance of Age column")

Root Mean Squared Error (RMSE): 12.42
Mean Absolute Error (MAE): 9.66
R-Squared (R2): 0.28
RMSE is 6.11% of the variance of Age column
MAE is 4.75% of the variance of Age column

In [165]:
df_age_null = df.filter(col('Age').isNull())

In [166]:
df_age_null.show()

+-----------+--------+------+---+----+-----+-----+--------+---------+------------+------+----------+------------+-------------+
|PassengerId|Survived|Pclass|sex| Age|SibSp|Parch|    Fare|traintest|TicketNumber|Embark|CabinAbrev|CabinNumbers|CabinOnTicket|
+-----------+--------+------+---+----+-----+-----+--------+---------+------------+------+----------+------------+-------------+
|          6|       0|     3|0.0|null|    0|    0|  8.4583|    train|      330877|   2.0|       0.0|           0|            0|
|         18|       1|     2|0.0|null|    0|    0|      13|    train|      244373|   0.0|       0.0|           0|            0|
|         20|       1|     3|1.0|null|    0|    0|   7.225|    train|        2649|   1.0|       0.0|           0|            0|
|         27|       0|     3|0.0|null|    0|    0|   7.225|    train|        2631|   1.0|       0.0|           0|            0|
|         29|       1|     3|1.0|null|    0|    0|  7.8792|    train|      330959|   2.0|       0.0|           0|            0|
|         30|       0|     3|0.0|null|    0|    0|  7.8958|    train|      349216|   0.0|       0.0|           0|            0|
|         32|       1|     1|1.0|null|    1|    0|146.5208|    train|       17569|   1.0|       2.0|          78|            1|
|         33|       1|     3|1.0|null|    0|    0|    7.75|    train|      335677|   2.0|       0.0|           0|            0|
|         37|       1|     3|0.0|null|    0|    0|  7.2292|    train|        2677|   1.0|       0.0|           0|            0|
|         43|       0|     3|0.0|null|    0|    0|  7.8958|    train|      349253|   1.0|       0.0|           0|            0|
|         46|       0|     3|0.0|null|    0|    0|    8.05|    train|       23567|   0.0|       0.0|           0|            0|
|         47|       0|     3|0.0|null|    1|    0|    15.5|    train|      370371|   2.0|       0.0|           0|            0|
|         48|       1|     3|1.0|null|    0|    0|    7.75|    train|       14311|   2.0|       0.0|           0|            0|
|         49|       0|     3|0.0|null|    2|    0| 21.6792|    train|        2662|   1.0|       0.0|           0|            0|
|         56|       1|     1|0.0|null|    0|    0|    35.5|    train|       19947|   0.0|       1.0|          52|            1|
|         65|       0|     1|0.0|null|    0|    0| 27.7208|    train|       17605|   1.0|       0.0|           0|            0|
|         66|       1|     3|0.0|null|    1|    1| 15.2458|    train|        2661|   1.0|       0.0|           0|            0|
|         77|       0|     3|0.0|null|    0|    0|  7.8958|    train|      349208|   0.0|       0.0|           0|            0|
|         78|       0|     3|0.0|null|    0|    0|    8.05|    train|      374746|   0.0|       0.0|           0|            0|
|         83|       1|     3|1.0|null|    0|    0|  7.7875|    train|      330932|   2.0|       0.0|           0|            0|
+-----------+--------+------+---+----+-----+-----+--------+---------+------------+------+----------+------------+-------------+
only showing top 20 rows

In [168]:
df2 = df2.withColumn('Age', when(col('Age').isNull(), predictions['prediction']).otherwise(col('Age')))

AnalysisException: ignored

In [169]:
df2.show()

+-----------+--------+------+---+----+-----+-----+-------+------------+------+----------+------------+-------------+
|PassengerId|Survived|Pclass|sex| Age|SibSp|Parch|   Fare|TicketNumber|Embark|CabinAbrev|CabinNumbers|CabinOnTicket|
+-----------+--------+------+---+----+-----+-----+-------+------------+------+----------+------------+-------------+
|          1|       0|     3|0.0|  22|    1|    0|   7.25|       21171|   0.0|       0.0|           0|            0|
|          2|       1|     1|1.0|  38|    1|    0|71.2833|       17599|   1.0|       1.0|          85|            1|
|          3|       1|     3|1.0|  26|    0|    0|  7.925|     3101282|   0.0|       0.0|           0|            0|
|          4|       1|     1|1.0|  35|    1|    0|   53.1|      113803|   0.0|       1.0|         123|            1|
|          5|       0|     3|0.0|  35|    0|    0|   8.05|      373450|   0.0|       0.0|           0|            0|
|          6|       0|     3|0.0|null|    0|    0| 8.4583|      330877|   2.0|       0.0|           0|            0|
|          7|       0|     1|0.0|  54|    0|    0|51.8625|       17463|   0.0|       4.0|          46|            1|
|          8|       0|     3|0.0|   2|    3|    1| 21.075|      349909|   0.0|       0.0|           0|            0|
|          9|       1|     3|1.0|  27|    0|    2|11.1333|      347742|   0.0|       0.0|           0|            0|
|         10|       1|     2|1.0|  14|    1|    0|30.0708|      237736|   1.0|       0.0|           0|            0|
|         11|       1|     3|1.0|   4|    1|    1|   16.7|        9549|   0.0|       7.0|           6|            1|
|         12|       1|     1|1.0|  58|    0|    0|  26.55|      113783|   0.0|       1.0|         103|            1|
|         13|       0|     3|0.0|  20|    0|    0|   8.05|        2151|   0.0|       0.0|           0|            0|
|         14|       0|     3|0.0|  39|    1|    5| 31.275|      347082|   0.0|       0.0|           0|            0|
|         15|       0|     3|1.0|  14|    0|    0| 7.8542|      350406|   0.0|       0.0|           0|            0|
|         16|       1|     2|1.0|  55|    0|    0|   16.0|      248706|   0.0|       0.0|           0|            0|
|         17|       0|     3|0.0|   2|    4|    1| 29.125|      382652|   2.0|       0.0|           0|            0|
|         18|       1|     2|0.0|null|    0|    0|   13.0|      244373|   0.0|       0.0|           0|            0|
|         19|       0|     3|1.0|  31|    1|    0|   18.0|      345763|   0.0|       0.0|           0|            0|
|         20|       1|     3|1.0|null|    0|    0|  7.225|        2649|   1.0|       0.0|           0|            0|
+-----------+--------+------+---+----+-----+-----+-------+------------+------+----------+------------+-------------+
only showing top 20 rows

In [254]:
data_with_age = df2.filter("Age is not null")
data_without_age = df2.filter("Age is null")

In [257]:
data_without_age.show()

+-----------+--------+------+---+----+-----+-----+--------+------------+------+----------+------------+-------------+-------------+
|PassengerId|Survived|Pclass|sex| Age|SibSp|Parch|    Fare|TicketNumber|Embark|CabinAbrev|CabinNumbers|CabinOnTicket| NameAbrevVec|
+-----------+--------+------+---+----+-----+-----+--------+------------+------+----------+------------+-------------+-------------+
|          6|       0|     3|0.0|null|    0|    0|  8.4583|      330877|   2.0|       0.0|           0|            0|(3,[0],[1.0])|
|         18|       1|     2|0.0|null|    0|    0|    13.0|      244373|   0.0|       0.0|           0|            0|(3,[0],[1.0])|
|         20|       1|     3|1.0|null|    0|    0|   7.225|        2649|   1.0|       0.0|           0|            0|(3,[2],[1.0])|
|         27|       0|     3|0.0|null|    0|    0|   7.225|        2631|   1.0|       0.0|           0|            0|(3,[0],[1.0])|
|         29|       1|     3|1.0|null|    0|    0|  7.8792|      330959|   2.0|       0.0|           0|            0|(3,[1],[1.0])|
|         30|       0|     3|0.0|null|    0|    0|  7.8958|      349216|   0.0|       0.0|           0|            0|(3,[0],[1.0])|
|         32|       1|     1|1.0|null|    1|    0|146.5208|       17569|   1.0|       2.0|          78|            1|(3,[2],[1.0])|
|         33|       1|     3|1.0|null|    0|    0|    7.75|      335677|   2.0|       0.0|           0|            0|(3,[1],[1.0])|
|         37|       1|     3|0.0|null|    0|    0|  7.2292|        2677|   1.0|       0.0|           0|            0|(3,[0],[1.0])|
|         43|       0|     3|0.0|null|    0|    0|  7.8958|      349253|   1.0|       0.0|           0|            0|(3,[0],[1.0])|
|         46|       0|     3|0.0|null|    0|    0|    8.05|       23567|   0.0|       0.0|           0|            0|(3,[0],[1.0])|
|         47|       0|     3|0.0|null|    1|    0|    15.5|      370371|   2.0|       0.0|           0|            0|(3,[0],[1.0])|
|         48|       1|     3|1.0|null|    0|    0|    7.75|       14311|   2.0|       0.0|           0|            0|(3,[1],[1.0])|
|         49|       0|     3|0.0|null|    2|    0| 21.6792|        2662|   1.0|       0.0|           0|            0|(3,[0],[1.0])|
|         56|       1|     1|0.0|null|    0|    0|    35.5|       19947|   0.0|       1.0|          52|            1|(3,[0],[1.0])|
|         65|       0|     1|0.0|null|    0|    0| 27.7208|       17605|   1.0|       0.0|           0|            0|(3,[0],[1.0])|
|         66|       1|     3|0.0|null|    1|    1| 15.2458|        2661|   1.0|       0.0|           0|            0|    (3,[],[])|
|         77|       0|     3|0.0|null|    0|    0|  7.8958|      349208|   0.0|       0.0|           0|            0|(3,[0],[1.0])|
|         78|       0|     3|0.0|null|    0|    0|    8.05|      374746|   0.0|       0.0|           0|            0|(3,[0],[1.0])|
|         83|       1|     3|1.0|null|    0|    0|  7.7875|      330932|   2.0|       0.0|           0|            0|(3,[1],[1.0])|
+-----------+--------+------+---+----+-----+-----+--------+------------+------+----------+------------+-------------+-------------+
only showing top 20 rows

In [258]:
assembler = VectorAssembler(inputCols=['SibSp', 'Parch', 'Fare', 'Pclass','Survived','NameAbrevVec','Embark','CabinAbrev','CabinOnTicket','sex'], outputCol='features')

In [259]:
# Transform the data with the assembler
data_with_age_transformed = assembler.transform(data_with_age)
data_without_age_transformed = assembler.transform(data_without_age)

In [260]:
# Train a regression model on the non-null Age data
regressor = LinearRegression(featuresCol="features", labelCol="Age")
model = regressor.fit(data_with_age_transformed)

In [261]:
# Use the trained model to predict the Age values for the null values
predicted_age = model.transform(data_without_age_transformed)

In [267]:
predicted_age.show()

+-----------+--------+------+---+----+-----+-----+--------+------------+------+----------+------------+-------------+-------------+--------------------+------------------+
|PassengerId|Survived|Pclass|sex| Age|SibSp|Parch|    Fare|TicketNumber|Embark|CabinAbrev|CabinNumbers|CabinOnTicket| NameAbrevVec|            features|        prediction|
+-----------+--------+------+---+----+-----+-----+--------+------------+------+----------+------------+-------------+-------------+--------------------+------------------+
|          6|       0|     3|0.0|null|    0|    0|  8.4583|      330877|   2.0|       0.0|           0|            0|(3,[0],[1.0])|(12,[2,3,5,8],[8....|30.033191509918826|
|         18|       1|     2|0.0|null|    0|    0|    13.0|      244373|   0.0|       0.0|           0|            0|(3,[0],[1.0])|(12,[2,3,4,5],[13...|31.413142955207455|
|         20|       1|     3|1.0|null|    0|    0|   7.225|        2649|   1.0|       0.0|           0|            0|(3,[2],[1.0])|(12,[2,3,4,7,8,11...|29.939075450678303|
|         27|       0|     3|0.0|null|    0|    0|   7.225|        2631|   1.0|       0.0|           0|            0|(3,[0],[1.0])|(12,[2,3,5,8],[7....|29.277488867814984|
|         29|       1|     3|1.0|null|    0|    0|  7.8792|      330959|   2.0|       0.0|           0|            0|(3,[1],[1.0])|(12,[2,3,4,6,8,11...| 17.22444899990872|
|         30|       0|     3|0.0|null|    0|    0|  7.8958|      349216|   0.0|       0.0|           0|            0|(3,[0],[1.0])|(12,[2,3,5],[7.89...| 28.52585566629341|
|         32|       1|     1|1.0|null|    1|    0|146.5208|       17569|   1.0|       2.0|          78|            1|(3,[2],[1.0])|[1.0,0.0,146.5207...| 41.80579277074762|
|         33|       1|     3|1.0|null|    0|    0|    7.75|      335677|   2.0|       0.0|           0|            0|(3,[1],[1.0])|(12,[2,3,4,6,8,11...|17.224172873830813|
|         37|       1|     3|0.0|null|    0|    0|  7.2292|        2677|   1.0|       0.0|           0|            0|(3,[0],[1.0])|(12,[2,3,4,5,8],[...|25.355124904658336|
|         43|       0|     3|0.0|null|    0|    0|  7.8958|      349253|   1.0|       0.0|           0|            0|(3,[0],[1.0])|(12,[2,3,5,8],[7....|29.278922501383338|
|         46|       0|     3|0.0|null|    0|    0|    8.05|       23567|   0.0|       0.0|           0|            0|(3,[0],[1.0])|(12,[2,3,5],[8.05...| 28.52618522255134|
|         47|       0|     3|0.0|null|    1|    0|    15.5|      370371|   2.0|       0.0|           0|            0|(3,[0],[1.0])|(12,[0,2,3,5,8],[...|27.726076387194922|
|         48|       1|     3|1.0|null|    0|    0|    7.75|       14311|   2.0|       0.0|           0|            0|(3,[1],[1.0])|(12,[2,3,4,6,8,11...|17.224172873830813|
|         49|       0|     3|0.0|null|    2|    0| 21.6792|        2662|   1.0|       0.0|           0|            0|(3,[0],[1.0])|(12,[0,2,3,5,8],[...| 24.66405109275612|
|         56|       1|     1|0.0|null|    0|    0|    35.5|       19947|   0.0|       1.0|          52|            1|(3,[0],[1.0])|(12,[2,3,4,5,9,10...| 38.78184339389847|
|         65|       0|     1|0.0|null|    0|    0| 27.7208|       17605|   1.0|       0.0|           0|            0|(3,[0],[1.0])|(12,[2,3,5,8],[27...| 42.91879554738347|
|         66|       1|     3|0.0|null|    1|    1| 15.2458|        2661|   1.0|       0.0|           0|            0|    (3,[],[])|(12,[0,1,2,3,4,8]...| 11.53141124222065|
|         77|       0|     3|0.0|null|    0|    0|  7.8958|      349208|   0.0|       0.0|           0|            0|(3,[0],[1.0])|(12,[2,3,5],[7.89...| 28.52585566629341|
|         78|       0|     3|0.0|null|    0|    0|    8.05|      374746|   0.0|       0.0|           0|            0|(3,[0],[1.0])|(12,[2,3,5],[8.05...| 28.52618522255134|
|         83|       1|     3|1.0|null|    0|    0|  7.7875|      330932|   2.0|       0.0|           0|            0|(3,[1],[1.0])|(12,[2,3,4,6,8,11...| 17.22425301859131|
+-----------+--------+------+---+----+-----+-----+--------+------------+------+----------+------------+-------------+-------------+--------------------+------------------+
only showing top 20 rows

In [269]:
df2.filter(col("Age").isNull()).count()

AnalysisException: ignored

In [268]:
predicted_age.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- sex: double (nullable = false)
 |-- Age: integer (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Fare: float (nullable = true)
 |-- TicketNumber: integer (nullable = true)
 |-- Embark: double (nullable = false)
 |-- CabinAbrev: double (nullable = false)
 |-- CabinNumbers: integer (nullable = true)
 |-- CabinOnTicket: integer (nullable = false)
 |-- NameAbrevVec: vector (nullable = true)
 |-- features: vector (nullable = true)
 |-- prediction: double (nullable = false)

In [272]:
df2 = df2.join(predicted_age.select("PassengerId", "prediction"), "PassengerId", "left")

In [274]:
df2 = df2.withColumnRenamed("Age", "Age_original")

In [276]:
df2 = df2.withColumnRenamed("prediction", "Age_predicted")

In [277]:
df2.show()

+-----------+--------+------+---+------------+-----+-----+-------+------------+------+----------+------------+-------------+-------------+------------------+------------------+
|PassengerId|Survived|Pclass|sex|Age_original|SibSp|Parch|   Fare|TicketNumber|Embark|CabinAbrev|CabinNumbers|CabinOnTicket| NameAbrevVec|      Age_original|     Age_predicted|
+-----------+--------+------+---+------------+-----+-----+-------+------------+------+----------+------------+-------------+-------------+------------------+------------------+
|          1|       0|     3|0.0|          22|    1|    0|   7.25|       21171|   0.0|       0.0|           0|            0|(3,[0],[1.0])|              null|              null|
|          2|       1|     1|1.0|          38|    1|    0|71.2833|       17599|   1.0|       1.0|          85|            1|(3,[2],[1.0])|              null|              null|
|          3|       1|     3|1.0|          26|    0|    0|  7.925|     3101282|   0.0|       0.0|           0|            0|(3,[1],[1.0])|              null|              null|
|          4|       1|     1|1.0|          35|    1|    0|   53.1|      113803|   0.0|       1.0|         123|            1|(3,[2],[1.0])|              null|              null|
|          5|       0|     3|0.0|          35|    0|    0|   8.05|      373450|   0.0|       0.0|           0|            0|(3,[0],[1.0])|              null|              null|
|          6|       0|     3|0.0|        null|    0|    0| 8.4583|      330877|   2.0|       0.0|           0|            0|(3,[0],[1.0])|30.033191509918826|30.033191509918826|
|          7|       0|     1|0.0|          54|    0|    0|51.8625|       17463|   0.0|       4.0|          46|            1|(3,[0],[1.0])|              null|              null|
|          8|       0|     3|0.0|           2|    3|    1| 21.075|      349909|   0.0|       0.0|           0|            0|    (3,[],[])|              null|              null|
|          9|       1|     3|1.0|          27|    0|    2|11.1333|      347742|   0.0|       0.0|           0|            0|(3,[2],[1.0])|              null|              null|
|         10|       1|     2|1.0|          14|    1|    0|30.0708|      237736|   1.0|       0.0|           0|            0|(3,[2],[1.0])|              null|              null|
|         11|       1|     3|1.0|           4|    1|    1|   16.7|        9549|   0.0|       7.0|           6|            1|(3,[1],[1.0])|              null|              null|
|         12|       1|     1|1.0|          58|    0|    0|  26.55|      113783|   0.0|       1.0|         103|            1|(3,[1],[1.0])|              null|              null|
|         13|       0|     3|0.0|          20|    0|    0|   8.05|        2151|   0.0|       0.0|           0|            0|(3,[0],[1.0])|              null|              null|
|         14|       0|     3|0.0|          39|    1|    5| 31.275|      347082|   0.0|       0.0|           0|            0|(3,[0],[1.0])|              null|              null|
|         15|       0|     3|1.0|          14|    0|    0| 7.8542|      350406|   0.0|       0.0|           0|            0|(3,[1],[1.0])|              null|              null|
|         16|       1|     2|1.0|          55|    0|    0|   16.0|      248706|   0.0|       0.0|           0|            0|(3,[2],[1.0])|              null|              null|
|         17|       0|     3|0.0|           2|    4|    1| 29.125|      382652|   2.0|       0.0|           0|            0|    (3,[],[])|              null|              null|
|         18|       1|     2|0.0|        null|    0|    0|   13.0|      244373|   0.0|       0.0|           0|            0|(3,[0],[1.0])|31.413142955207455|31.413142955207455|
|         19|       0|     3|1.0|          31|    1|    0|   18.0|      345763|   0.0|       0.0|           0|            0|(3,[2],[1.0])|              null|              null|
|         20|       1|     3|1.0|        null|    0|    0|  7.225|        2649|   1.0|       0.0|           0|            0|(3,[2],[1.0])|29.939075450678303|29.939075450678303|
+-----------+--------+------+---+------------+-----+-----+-------+------------+------+----------+------------+-------------+-------------+------------------+------------------+
only showing top 20 rows